[2018-10-18 17:03] satu0king opened #1 "Document the use of FlipFlops"

[2018-10-18 17:03] satu0king opened #2 "Document Annotation Elements"

[2018-10-18 17:04] satu0king opened #3 "Document Input Elements"
You will need to illustrate the various options of individual components and how to use it on CircuitVerse. Tips and tricks will be helpful.

- [ ] Input
- [ ] Button
- [ ] Ground
- [ ] Power
- [ ] Constant
- [ ] Stepper
- [ ] Random
- [ ] Counter

![image](https://user-images.githubusercontent.com/2092958/54450825-5be62300-4777-11e9-8c6e-952f4863e088.png)

[2018-10-18 17:05] satu0king opened #4 "Document Output Elements"
You will need to illustrate the various options of individual components and how to use it on CircuitVerse. Tips and tricks will be helpful.

- [ ] Output
- [ ] RGBLed
- [ ] LED
- [ ] VariableLed
- [ ] HexDisplay
- [ ] SevenSegmentDisplay
- [ ] SixteenSegmentDisplay
- [ ] SquareRGBLed

![image](https://user-images.githubusercontent.com/2092958/54450892-7f10d280-4777-11e9-9c33-9e72d0fc2ea6.png)

[2018-10-19 00:36] developerbrandon commented on #2
On it :+1:

[2018-10-19 15:07] quangpro1610 opened #8 "HTML <input> Tag"
The <input> tag specifies an input field where the user can enter data.
<input> elements are used within a <form> element to declare input controls that allow users to input data.
An input field can vary in many ways, depending on the type attribute.

Read more: https://www.w3schools.com/tags/tag_input.asp

[2018-10-19 15:31] satu0king commented on #8
I don't get what the issue is really about? Could you elaborate more?

[2018-10-21 12:00] #8 closed

[2018-10-25 13:57] jeel2308 commented on #3
can you explain it briefly?

[2018-10-25 16:53] satu0king commented on #3
Checkout Input elements of the simulator at circuitverse.org/simulator. Some of them are Button, Power, Ground. So the usage of these elements needs to be documented for docs.circuitverse.org

[2019-02-18 20:15] satu0king opened #9 "Document groups, assignments"
- [ ] How to create groups, add students
- [ ] How to create assignments, set deadline etc
- [ ] Instructions for students

[2019-02-27 17:00] NirmalKumarJoshi commented on #4
@satu0king  I would like to work on this issue.
Tell me how to go ,

[2019-02-27 17:25] NirmalKumarJoshi opened #11 "Adding Flip Flop documentation to the circuit elements in documentation"
As of now there is no documentation for different flip flops.

[2019-02-27 17:27] NirmalKumarJoshi commented on #11
Can I work on this issue @satu0king ?

[2019-02-27 17:46] Kedar-K commented on #11
I guess an issue was already raised on this topic by @satu0king, [check this out](https://github.com/CircuitVerse/CircuitVerseDocs/issues/1) and this is a [pull request](https://github.com/CircuitVerse/CircuitVerseDocs/pull/7) regarding this issue, and after some changes in this pull request as per requested by @satu0king We should be good to go. So @NirmalKumarJoshi you can probably work on other

[2019-02-27 17:54] Kedar-K commented on #3
@satu0king I will work on this.

[2019-02-28 08:12] Kedar-K commented on #3
#12 Created docs successfully @satu0king. Please let me know if some changes required.

[2019-02-28 20:27] vinay72 opened #13 "GSOC 2019 Project 5"
@satu0king According to the Official GSOC-2019 list of project ideas of CircuitVerse , there is project on : Create informative material for digital logic design,
Design interactive circuits.
DIY digital logic design E-book . I want to work on this Idea and want to take part in GSOC-2019 .

[2019-03-01 04:31] Kedar-K commented on #13
@vinay72 This doesn't look like an issue in the current repository, for this, you can contact the mentor directly. I don't think so that there is a need to create a new issue for this.

[2019-03-01 04:34] vinay72 commented on #13
@Kedar-K Thanks for Replying.

[2019-03-01 04:54] #13 closed

[2019-03-01 17:21] vinay72 opened #14 "Contributor's Guide Needed in this repository."
@satu0king Can I add Contributor's Guide on How to Contribute to this Repository by sending a PR?

[2019-03-01 17:56] Kedar-K commented on #4
Is anyone working on this issue, I would like to proceed with this issue. @NirmalKumarJoshi , @satu0king.

[2019-03-01 17:59] Kedar-K commented on #14
@vinay72 Did you think of any content to put in contributors guide?

[2019-03-01 18:14] Kedar-K commented on #3
Requested changes made @satu0king .

[2019-03-02 11:11] vinay72 commented on #14
@Kedar-K Yes, I would made a `Contributors.md` file if necessary.

[2019-03-02 15:50] satu0king commented on #14
Also write instructions on how to test the docs offline,
I use `python3 -m http.server`

[2019-03-02 16:31] Paritosh259 commented on #4
[Document Output Elements.md](https://github.com/CircuitVerse/CircuitVerseDocs/files/2922289/Document.Output.Elements.docx)

[2019-03-02 16:40] Paritosh259 commented on #2
[Document Annotation Elements.docx](https://github.com/CircuitVerse/CircuitVerseDocs/files/2922295/Document.Annotation.Elements.docx)

[2019-03-03 13:04] vinay72 commented on #14
@satu0king Can you elaborate more on this like : how to write instructions on testing the docs offline as I have never worked on testing ?

[2019-03-03 17:02] satu0king commented on #14
I meant manual testing, that is for the developer to check how the docs is actually rendered before being merged.

[2019-03-03 18:32] vinay72 commented on #9
@satu0king We can make a platform like a Web App for these things where all the students can come together and join the Group and Assignments would be given with a Deadline . When a Student joins the group he/she would be given Instructions on how to proceed further.

[2019-03-03 19:35] Kedar-K commented on #14
@vinay72 You can also put extensions for some famous editors like **VScode, atom**, etc for the purpose of testing and even the HTTP server mentioned as mentioned by @satu0king.

[2019-03-03 19:53] vinay72 commented on #14
@Kedar-K Okay, I would do the required changes as soon as possible.

[2019-03-04 18:01] blackwolf08 opened #18 "CSS issues at multiple places, body width expanding more than vw."
#### I am submitting a -

* [3] **Bug Report and would like to _SELF ASSIGN_ the issue**

#### 1. On the main landing Page the wrapper around the navigation extends view width and makes the body of the page expands more than 100%
![img_1621](https://user-images.githubusercontent.com/31814079/53752481-b0b2af80-3ed4-11e9-8def-5da428f72c2f.jpg)
 -

#### 2. Star and Views tabs extends beyond the width

[2019-03-04 18:04] #18 closed

[2019-03-04 18:15] agarwalrounak commented on #11
@satu0king This issue can be closed as duplicate!

[2019-03-04 19:47] agarwalrounak opened #19 "Add Issue and Pull Request templates"
**I am submitting a -**
- [x] Feature Request

**Describe your bug/feature -**
Currently there is no template for issue and pull request.

**Are you working on this issue? (Yes/No)**
Yes

[2019-03-05 16:48] vinay72 opened #21 "Documentation needed for Shift Registers."
@satu0king Documentation needed for these Digital Circuits known as Shift Registers which includes describing four  types of Shift Registers in a sequential manner.

[2019-03-06 06:46] #19 closed

[2019-03-06 07:08] agarwalrounak commented on #9
I am working on those issue.

[2019-03-06 07:14] satu0king commented on #21
Hello, currently this documentation is for the use of circuit elements in the simulator. The interactive book project will have these sort of information.s

[2019-03-06 07:14] #21 closed

[2019-03-06 12:14] fdila opened #23 "Reorganize files"
#### I am submitting a -
* **Feature Request**

#### Describe your bug/feature -
Move documentation files in /docs folder, add a "real" README for the repo

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-06 12:46] vinay72 commented on #21
@satu0king Okay, thanks for replying.

[2019-03-06 13:23] #23 closed

[2019-03-06 16:18] vinay72 opened #27 "A good Introduction needed in the Official Readme.md"
#### I am submitting a -
* **Feature Request**

#### More detailed and brief Introduction needed in the Official Readme.md File.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-06 17:52] agarwalrounak commented on #27
I don't think it is needed! Everything(including introduction) is meant to be read online at https://docs.circuitverse.org/ which lies inside the `docs` repository

[2019-03-06 17:53] satu0king commented on #27
I am going to add the contributing guidelines as there seems to be a lot of confusion regarding the readme, the purpose of this repo and how to contribute.

[2019-03-07 07:33] fdila opened #28 "Add code of conduct"
#### I am submitting a -
* **Feature Request**

#### Describe your bug/feature -
Add code of conduct

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-12 07:40] #28 closed

[2019-03-12 14:37] vinay72 opened #32 "Add Quick Start"
#### I am submitting a -
* **Feature Request**

I am submitting a Quick Start Guide for the Circuit Verse Official Online Documentation.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-15 17:36] #27 closed

[2019-03-15 17:37] satu0king commented on #32
Unnecessary.

[2019-03-15 17:37] #32 closed

[2019-03-16 08:10] monsij opened #34 "Minor Typo"
#### I am submitting a -
* [ ] **Feature Request**
* [x] **Bug Report**

guage --> gauge

#### Screenshots (if relevant) -
![gauge](https://user-images.githubusercontent.com/23289387/54472595-c8e9cf00-47f0-11e9-98a9-f50e6b3fcb60.JPG)

#### Are you working on this issue? (*Yes*)
I am interested to fix this, but as the Wiki is not directly editable, I think it has to be done on the maintainer side i

[2019-03-16 08:20] satu0king commented on #34
Thank you

[2019-03-16 08:20] #34 closed

[2019-03-17 11:53] ankur54 commented on #1
@satu0king can I work on this issue?

[2019-03-17 19:59] sanctophagus commented on #4
Hey @satu0king I'd like to work on this issue, if no one is working on it.

[2019-03-18 11:04] sanctophagus commented on #2
Hey satu0king! I'd like to work on it, if no one is working on it.

[2019-03-20 04:35] #4 closed

[2019-03-20 23:11] vinay72 opened #37 "In docs, Ask For Help guide is needed for beginners."
In official Documentation of Circuit Verse, Ask For Help guide is needed for beginners.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-21 02:39] satu0king commented on #2
@sanctophagus go ahead

[2019-03-21 02:40] #11 closed

[2019-03-21 22:45] jbox144 opened #39 "MSB and LSB miss-documentation"
The MSB and LSB components are using an input connected to their ENABLE pin, but the ENABLE pin is an output (active when the input is non-zero). This should be fixed ASAP.

[2019-03-22 08:24] fdila commented on #39
I'm working on it

[2019-03-22 12:22] jbox144 opened #41 "Counter mis-documentation"
The counter components "zero" output is activated when the counter overflows, and the clock cycle that overflowed the counter is still high. That is why when the max value is set to 0, it will always be high. The documentation does not cover this.

[2019-03-22 14:04] Kedar-K commented on #41
I am on it.

[2019-03-22 15:12] fdila opened #42 "Improve Input element documentation"
#### I am submitting a -
 **Feature Request**

#### Describe your bug/feature -
Improve input elements docs

#### Current behaviour -
-  Missing embedded circuit for stepper
-  Wrong embedded circuit for counter
-  Missing Random input

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-22 17:27] iamNamanKhare commented on #9
I think, no one is working on this issue. So, I am taking up this Issue.

[2019-03-22 17:57] agarwalrounak commented on #9
@iamNamanKhare Go ahead! I was supposed to work on this but couldn't do so due to other commitments.

[2019-03-22 18:03] iamNamanKhare commented on #9
@agarwalrounak okay!!

[2019-03-23 09:58] #39 closed

[2019-03-23 09:58] satu0king commented on #39
@jbox144 can you confirm if this is correct?

[2019-03-23 10:06] #42 closed

[2019-03-23 10:14] satu0king opened #46 "Document RAM, ROM, EEPROM"
Create a page called memory elements and add documentation for these

- [ ] ROM
- [ ] RAM
- [ ] EEPROM

Helpful links

https://github.com/CircuitVerse/CircuitVerse/pull/229
https://github.com/CircuitVerse/CircuitVerse/pull/113

[2019-03-23 10:16] satu0king opened #47 "Document Misc"
- [ ] ALU
- [ ] Adder

[2019-03-23 10:16] harsha-iiiv commented on #46
I would like to work on this issue. Please assign to me @satu0king .

[2019-03-23 10:17] satu0king commented on #1
Sure

[2019-03-23 10:18] satu0king commented on #46
Sure, please start a PR with WIP to claim the issue.

[2019-03-23 10:20] harsha-iiiv commented on #46
👍

[2019-03-23 11:09] harsha-iiiv opened #49 "Image link was broken"
#### I am submitting a -
 * [] **Bug Report**

#### Describe your bug/feature -
Image links were broken in 'Test Bench'

#### Current behaviour -
Not displaying any images
#### Expected behaviour -

#### Screenshots (if relevant) -
![Screenshot (45)](https://user-images.githubusercontent.com/31560965/54865344-2dc19e00-4d8a-11e9-9c79-9f69beae74d7.png)

#### Are you working on this issue? (Yes/No)

[2019-03-23 11:17] satu0king commented on #49
The issue was just resolved.

[2019-03-23 11:17] #49 closed

[2019-03-23 11:35] iamNamanKhare commented on #47
I would like to work on this issue. can i get this issue assigned @satu0king

[2019-03-23 12:15] jbox144 commented on #39
I can link you to a project where this functionality is used

https://circuitverse.org/users/1577/projects/5829

Admittedly, labeling the pin EN is a bit confusing, as EN would normally be an input.

[2019-03-23 13:02] satu0king commented on #39
No, the documentation has been updated. Can you confirm if it is correct now?

[2019-03-23 13:32] jbox144 commented on #39
Close. The EN output is active when the delector is getting a non-zero value. But for all intensive purposes, it's accurate.

[2019-03-23 13:38] harshagrwl opened #51 "Live Circuit block not visible on small screens"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The live circuit and video block is not completely visible on small screens.
#### Current behaviour -
When the webpage is viewed on small screens( for example mobile phones), the live circuit and video block goes out of the screen and creates a poor user interface for the page.
#### Expected behaviour -
The video or the

[2019-03-23 14:20] harshagrwl commented on #51
#52 will close this issue

[2019-03-23 15:07] harsha-iiiv opened #53 "Incorrect port number in readme.md"
#### I am submitting a -

* [] **Bug Report**

#### Describe your bug/feature -
       Incorrect port number for http
#### Current behaviour -

#### Expected behaviour -

#### Screenshots (if relevant) -

#### Are you working on this issue? (Yes/No)
  yes

[2019-03-23 15:33] #53 closed

[2019-03-24 07:09] harsha-iiiv opened #55 "Reading experience in dark theme"
#### I am submitting a -
* [] **Feature Request**
#### Describe your feature -
      Dark theme reading
#### Current behaviour -

#### Expected behaviour -

#### Screenshots (if relevant) -

#### Are you working on this issue? (Yes/No)
  yes

[2019-03-24 10:14] creyente1897 opened #57 "Adding Adder Docs"
#### I am submitting a -
* [x] **Feature Request**

I am adding docs for half and full adder.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-24 11:27] iamNamanKhare opened #59 "Add Docs For "Combinational Analysis""
#### Describe your bug/feature -
Add Documentation for Combinational Analysis tool which is present under the Tools tab.

#### Current behaviour -
Currently, documentation is not available for the same.

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-24 14:56] MonilBhavsar commented on #1
I would like to work on this issue

[2019-03-24 14:57] #59 closed

[2019-03-24 19:38] theredcap opened #60 "Documentation for Sequential Circuits"
#### I am submitting a -
* [ ] **Feature Request**
I am adding the documentation of the sequential circuits.

#### Describe your bug/feature -
It will provide a brief introduction to the Sequential Circuit element of the Simulator.
#### Current behaviour -
Currently there is no documentation for the Sequential Circuits
#### Screenshots (if relevant) -
![Screenshot_2019-03-24 Home - CircuitVerse Do

[2019-03-25 08:31] monsij opened #62 "Documentation for test benches"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
The current documentation does not addresses test benches.

#### Are you working on this issue? (Yes)

#### Major milestones ####
- [ ] Test bench input
- [ ] Test bench output

[2019-03-25 10:08] satu0king commented on #62
Check this https://circuitverse.org/testbench for creating the documentation

[2019-03-25 13:56] monsij commented on #62
@satu0king  Can you provide me a simple circuit implementing the test bench. As in, I tried to test a design using it but I am unable to understand the function of the left port of `TB_input`. An example would help me out.

[2019-03-25 19:20] theredcap commented on #46
@harsha-iiiv I see that you have not opened a pull request since 2 days. As I was working on documentation for sequential elements I had already made the documentation for ROM. I just saw this isuue and have created a WIP pull request as per the requirements. Are you still working on this?

[2019-03-26 02:50] Asritha57135 commented on #1
@stau0king can I work on improving this documentation....

[2019-03-26 02:57] Asritha57135 commented on #60
I am good at the topic sequential circuits and really want to work on this issue could you please tell me where to start and how...

[2019-03-26 03:15] theredcap commented on #46
@harsha-iiiv awesome, I shall close my pull request then.

[2019-03-26 03:37] theredcap commented on #60
@Asritha57135 Hi, I am working on this issue. Maybe you could help to solve other issues in the documentation. For starting to contribute to other issues simply open a pull request referencing those issues. In order to reference an issue you should use the keywords like Fixed #[Issue Number].

You can also open up a new issue, explaining the things you'd like to add to the documentation, like I di

[2019-03-26 04:21] theredcap opened #66 "Documentation for Embeding circuits"
#### I am submitting a -
* [ ] **Feature Request**

#### Describe your bug/feature -
Create a page called Embed Circuits and add these
1) How to generate the embed code.
2) Using Embedded Code in the web page.
#### Are you working on this issue? (Yes/No)
Yes

[2019-03-26 06:28] jerrybuks opened #67 "Documentation for Combinational Logic usage"
#### I am submitting a -
* [] **Feature Request**

I am adding documentation for kmaps,  X and Z states, Timing Analysis. hope this is ok?

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-26 15:58] Reetoo opened #68 "Simulation stack limit exceeded: maybe due to cyclic paths or connection"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -  The simulator says "Simulation Stack Limit Exceeded: maybe due to cyclic paths or connection" when there are feedback circuits as seen in JK flipflop

#### Current behaviour - The 1 1 condition in clocked JK flipflop does not work

#### Expected behaviour - The circuit should work perfectly

#### Screenshots (if releva

[2019-03-26 16:00] Reetoo opened #69 "Absence of 3 input AND gate"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature - There should be a 3 input AND gate

#### Current behaviour - Only 2 input AND gates are available

#### Expected behaviour -  Both 2 and 3 input AND gates should be available

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-26 18:01] saumyashrm2802 opened #71 "Adding Subtractor (half and full) docs"
#### I am submitting docs on -
* [] **Half subtractor**
* [] **Full subtractor**

#### Are you working on this issue? (Yes/No)
YES

[2019-03-26 18:17] saumyashrm2802 opened #72 "Adding magnitude comparator (4 bit)"
#### I am submitting a -
*  **Feature Request**

#### Describe your feature -
I will add docs on 4 bit magnitude or equality comparator usiing XNOR and AND gates.

#### Are you working on this issue? (Yes/No)
YESS

[2019-03-26 18:32] saumyashrm2802 commented on #71
@armudgal @satu0king please assign me this issue

[2019-03-26 19:41] sanctophagus commented on #69
@Reetoo Can you Please elaborate. Afaik, simulator supports multi-input gates and are documented properly for the same.

[2019-03-27 18:02] #9 closed

[2019-03-27 18:16] #14 closed

[2019-03-27 18:17] #37 closed

[2019-03-27 18:17] #51 closed

[2019-03-27 18:18] satu0king commented on #51
If the circuit can be made to take less space on small screens and same space on large screens, then we can have a solution.

[2019-03-27 18:21] satu0king commented on #68
This is not the correct Repo for this issue, please send in the correct repo.
https://github.com/CircuitVerse/CircuitVerse

[2019-03-27 18:21] #68 closed

[2019-03-27 18:22] satu0king commented on #72
This repository is to document CircuitVerse features not digital design concepts

[2019-03-27 18:22] #72 closed

[2019-03-27 18:23] satu0king commented on #71
This repository is to document CircuitVerse features not digital design concepts

[2019-03-27 18:23] #71 closed

[2019-03-28 06:09] jerrybuks commented on #67
Here is the documentation for combinational anaylsis feature #75

[2019-03-28 11:06] vinay72 commented on #69
@Reetoo you can change the no.
![Screenshot from 2019-03-28 16-36-18](https://user-images.githubusercontent.com/28500944/55153116-aa33f280-5177-11e9-83c6-eeb755f5f146.png)
 of inputs in the property menu. Please read the documentation properly.

[2019-03-28 13:39] vinay72 opened #77 "Discussion Forum needed for Students to clarify their doubts with Teachers."
#### I am submitting a -
* Feature Request
Discussion Forum is needed in CircuitVerse Docs in order to clarify doubts regarding assignments and circuits etc.

## ScreenShots -
![disc-forum](https://user-images.githubusercontent.com/28500944/55162071-00f7f700-518d-11e9-9811-de617435b754.png)

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-28 15:37] #57 closed

[2019-03-28 17:03] satu0king commented on #77
We already have discourse.circuitverse.org

[2019-03-28 17:11] saumyashrm2802 opened #79 "Documentation required for Flag,Text, Arrow,Rectangle, Tunnel (Miscellaneous elements)"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Documentation for only miscellaneous elements (except ALU and ADDER) is not available. So I will add a documentation on Flag.Text,Arrow,Rectangle and Tunnel

#### Are you working on this issue? (Yes/No)
YESS

[2019-03-28 18:40] vinay72 commented on #77
@satu0king discourse.circuitverse.org needs to be improved as it lacks some features.

[2019-03-28 19:25] theredcap opened #81 "Visualizing Timing Diagrams"
#### I am submitting a -
* [ ] **Feature Request**

#### Describe your bug/feature -
I want to write about how can we visualize the timing diagrams with the help of flags in circuitverse

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-28 21:05] jerrybuks opened #82 "Include a guide to contributing, to Readme.md"
#### I am submitting a -
* [] **Feature Request
        I'm including  a section that will tell  users how to contribute to this project

Are you working on this issue? (Yes/No)
        Yes

[2019-03-28 21:42] jerrybuks commented on #82
Here is the pull request to add this change #83

[2019-03-29 15:26] harsha-iiiv opened #84 "Pagination for interactive book."
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
     It would be a better feature if there is pagination for direct to next or previous page.

#### Current behaviour -
 No such a option currently.

#### Are you working on this issue? (Yes/No)
       Yes

[2019-03-29 21:13] sanctophagus commented on #79
Hey @saumyashrm2802  ! Actually I added the documentation for Text, Arrow, Rectangle under the issue #2 .

[2019-03-30 04:21] harshagrwl opened #88 "Adding docs for Subtractor"
#### I am submitting docs for -
* [] **Half Subtractor
* [] **Full Subtractor

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-30 07:03] saumyashrm2802 commented on #79
Hey @sanctophagus . I am sorry as I did not notice that before.
As you have already added documentation for Text, Arrow and Rectangle, so I would add the documentation of other miscellaneous elements such as Flag, Tunnel,Tristate, Buffer and ControlledInverter.

[2019-03-31 05:10] jerrybuks opened #91 "Adding a video in "Get started", To show How to recover project"
#### I am submitting a -
* [] **Feature Request**

 Describe your bug/feature -
-A short video under get started that will show people how to recover project

#### Are you working on this issue? (Yes/No)

[2019-03-31 08:01] harsha-iiiv opened #92 "Documentation for Parallel Binary Adders"
#### I am submitting a -
* [] **Feature Request**

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-31 08:15] #92 closed

[2019-03-31 08:21] harsha-iiiv opened #93 "Documentation for Keyboard"
#### I am submitting a -
* [] **Feature Request**

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-31 08:24] harsha-iiiv opened #94 "Documentation for TTY"
#### I am submitting a -
* [] **Feature Request**

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-31 13:14] #84 closed

[2019-03-31 13:35] harsha-iiiv opened #95 "Zoom Image on click"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Zoom in images on interactive book

#### Are you working on this issue? (Yes/No)
Yes

[2019-03-31 15:25] #95 closed

[2019-03-31 16:11] #60 closed

[2019-03-31 20:30] vinay72 opened #98 "Real Time Chat feature needed in Docs."
#### I am submitting a -
* **Feature Request**

Real time Chat feature like a button named as `Open Chat`  needed in Official Documentation of CircuitVerse . When a student clicks on that button , it would automatically redirected to ongoing Gitter chat between mentor and various other GSOC students.

#### Screenshots (if relevant) -
![realtimechat](https://user-images.githubusercontent.com/285009

[2019-04-01 11:15] vinay72 opened #99 "Documentation required for Combinational Circuits"
#### I am submitting a -
*  **Feature Request**
Documentation required for combinational circuits

#### Screenshots (if relevant) -
![combinational_circuit_blockdiagram](https://user-images.githubusercontent.com/28500944/55323713-7faaa800-549d-11e9-995d-412142b93c5a.jpg)

#### Are you working on this issue? (Yes/No)
Yes

[2019-04-01 14:01] theredcap commented on #94
@harsha-iiiv @satu0king As TTY and keyboard are placed under sequential element, it would be better if we could merge this documentation with the one I made for sequential elements. Also the file here is named as sequential.md this may create naming conflicts. What are your opinions?

[2019-04-01 14:05] harsha-iiiv commented on #94
Agreed @theredcap

[2019-04-03 00:27] NavonilDas opened #104 "Adding More docs on MISC"
Adding Documentation on :
- [ ] Tunnel
- [ ] Buffer
- [ ] Tri state Buffer
#### Are you working on this issue? (Yes/No)
YES

[2019-04-03 05:31] monsij opened #105 "Minor typo"
#### I am submitting a -
* [x] **Bug Report**

#### Describe your bug/feature -
Assignment has been wrongly spelt.

#### Screenshots (if relevant) -
![Capture](https://user-images.githubusercontent.com/23289387/55455093-db8d4200-55ff-11e9-9971-c0b948f532bf.PNG)

#### Are you working on this issue? (Yes)

[2019-04-03 05:52] #105 closed

[2019-04-04 18:46] sanctophagus opened #108 "Embedded circuits not working"
#### I am submitting a -
* [ ] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The circuits embeded on [CircuitVerse Docs](https://docs.circuitverse.org/#/) ain't responding on simulation.

#### Current behaviour -
For e.g. when you click on input values on the embedded [And Gate Circuit](https://docs.circuitverse.org/#/gates) they won't change.

#### Expected behaviour

[2019-04-05 05:41] #62 closed

[2019-04-05 05:43] #55 closed

[2019-04-05 08:54] #93 closed

[2019-04-05 08:56] #46 closed

[2019-04-05 08:57] #2 closed

[2019-04-05 09:05] #81 closed

[2019-04-05 09:06] #104 closed

[2019-04-05 09:13] #94 closed

[2019-04-05 12:17] monsij opened #111 "Minor Typo"
#### I am submitting a -
* [x] **Bug Report**

succesfully --> successfully
stimulate --> simulate
#### Screenshots (if relevant) -
![2](https://user-images.githubusercontent.com/23289387/55627000-b7ca2780-57ca-11e9-92bf-b05ae0a93611.PNG)
![1](https://user-images.githubusercontent.com/23289387/55627003-b993eb00-57ca-11e9-986a-63827e9b9406.PNG)

#### Are you working on this issue? (Yes)

[2019-04-05 13:14] #111 closed

[2019-04-06 03:18] saurabh111121 commented on #108
can you provide with details || or pic what you're considering here.

[2019-04-08 06:14] theredcap commented on #108
@saurabh111121
for example on this doc: https://docs.circuitverse.org/#/gates
We should be able to change the input of the gates that are embedded on the documentation so as to see its response to different input. But, we are not able to do so.
This was possible before.

[2019-04-08 20:44] Yash-Yadav opened #121 "Addition of prerequisite in the ReadMe file"
#### I am submitting a - Addition in the ReadMe file.
* [] **Feature Request**

#### Describe your bug/feature - There should be a little bit more clarity of the Minimum knowledge of the Use.

#### Current behaviour - I think that the Information is not sufficient.

#### Expected behaviour - It should be constraints to some fundamental topics like basics of Number System and other elementary topic

[2019-04-10 09:44] pranshuls12 opened #123 "Documentation for suggesting canvas feature"
I am submitting a -
Feature Request

It would be great if there is an inbuilt canvas for testing and dry running the gates based on truth table and K-MAPS

Current behavior - As of now we have provided just static information regarding digital logic design

Expected behavior - We will build a Canvas which can work as drag & drop where a user can test their circuits

Are you working on this issue?

[2019-04-12 13:20] monsij opened #124 "Minor Typos"
#### I am submitting a -
* [x] **Bug Report**
#### Screenshots (if relevant) -
![1](https://user-images.githubusercontent.com/23289387/56040348-d2b11480-5d53-11e9-8a7e-d3b5c1b65d18.PNG)
![2](https://user-images.githubusercontent.com/23289387/56040349-d349ab00-5d53-11e9-9717-e7f3f588b60e.PNG)

#### Are you working on this issue? (Yes)

[2019-04-12 13:38] monsij opened #126 "Improper Footer Redirect"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
Presently , when we click on the page footer links for the next and previous page, it takes us to a location other than the beginning of the required page.

#### Expected behaviour -
On clicking, it should take to the topmost part of the required page.

#### Screenshots (if relevant) -
![footer](https://user-image

[2019-04-27 07:54] satu0king opened #128 "Document LED Matrix"
See implementation details here:

https://github.com/CircuitVerse/CircuitVerse/pull/343

[2019-04-27 09:54] harsha-iiiv commented on #128
I would like to work on this issue @satu0king

[2019-04-27 16:59] harsha-iiiv commented on #128
Is there any option to redo the changes we made on the simulator. @satu0king

[2019-06-14 15:01] thepensivepoet opened #132 "Contention Errors - Bug or Circuit Problem?"
#### I am submitting a -
* [] **Bug Report**

Circuit project producing contention errors in a manner that seems like it may be a bug in circuitverse and not a mistake in my  design.

The contention errors resolve themselves if you toggle all of the inputs to 'refresh' the outs of my embedded circuits.

Would anyone be willing to take a peek at the my Mux4Way16 circuit?

https://circuitverse.org/u

[2019-10-25 08:13] Parikshit-Hooda commented on #3
@satu0king close this issue, please.

[2019-10-25 08:20] Parikshit-Hooda commented on #126
@monsij Has any PR been made to fix this? If not done until now, this issue now under proposed GCI'19 participation.

[2019-10-25 17:25] Parikshit-Hooda commented on #121
@Yash-Yadav What's the progress on this?

[2019-10-25 18:08] Parikshit-Hooda opened #133 "Image not rendering - /docs/README.md"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The title image is not rendering.
![ccdocs](https://user-images.githubusercontent.com/25405707/67593665-51195500-f780-11e9-9851-636e5ecea81e.PNG)

#### Current behaviour -
The markdown instead, gets rendered - as can be seen above

#### Expected behaviour -
The image should render perfectly.

#

[2019-10-25 18:14] Parikshit-Hooda opened #134 "Image not linked properly"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The images [here](https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/export.md) don't render.

#### Current behaviour -
The links are perhaps broken. Need eyes to fix this.

#### Expected behaviour -
The images should render alright.

#### Screenshots (if relevant) -
![ccdocsexpo

[2019-10-25 18:17] Parikshit-Hooda commented on #133
Related issue #134

[2019-10-25 18:19] Yash-Yadav commented on #121
Nothing till now!
But can use your help in identifying the per-requisites...

[2019-10-25 18:23] Parikshit-Hooda opened #135 "Implement favicon for the website"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Implement favicon for the website
#### Current behaviour -
No favicon currently present.
#### Expected behaviour -
Favicon!

#### Screenshots (if relevant) -
![ccdocsfavicon](https://user-images.githubusercontent.com/25405707/67594726-9dfe2b00-f782-11e9-8ccc-dec2a68ddcdf.PNG)

#### Are you work

[2019-10-29 23:44] zcapshaw commented on #135
Hi @Parikshit-Hooda. I have submitted a PR for this issue here #137

[2019-10-30 00:12] Parikshit-Hooda commented on #135
@zcapshaw noted.

[2019-10-31 18:25] PragatiVerma18 opened #167 "Striped Truth Tables needs color improvements in dark mode."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The tables on the docs page are too light in dark mode that the text is barely visible on them. So, please make the text darker in dark mode.

**Additional context**
Add any other context or screenshots about the feature request here.

![U

[2019-11-01 08:11] PragatiVerma18 opened #138 "Replace iframe tags in the .md files by images with links."
#### I am submitting a -
* [x] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The iframe tags which are used for embedding the circuits in the markdown files eg. <a href="https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/outputs.md">outputs.md</a>  are not supported under the GitHub flavoured markdown. Instead, it would be better to use images/screenshot

[2019-11-01 10:56] eKuG opened #168 "Create a Parity Detector using Universal Gate"
![2019-11-01 (1)](https://user-images.githubusercontent.com/33174166/68020308-15bce000-fcc4-11e9-9512-7d938a6f4fbd.png)
Parity detectors are used to find the error in the transmitted signal. Two types of Parity Detectors are there - Even and Odd
Also, add the limitations of using Parity Detector for Error Detection

[2019-11-01 11:28] ShreyaPrasad1209 opened #139 "Fix mobile navbar menu to top left"
**Is your feature request related to a problem? Please describe.**
Mobile navbar menu in CircuitVerse's documentation is fixed at bottom left now, making it hard to find.

**Describe the solution you'd like**
Fix mobile navigation menu bar to top left

**Additional context**
![image](https://user-images.githubusercontent.com/43600306/68015980-7eeb2600-fcb9-11e9-96e6-e98ce37ccf1c.png)

[2019-11-01 11:30] ShreyaPrasad1209 opened #140 "Change font size and family"
**Is your feature request related to a problem? Please describe.**
Font too small and simple in documentation page, making it hard to pay attention.

**Describe the solution you'd like**
Make following changes-
[code]
It should look something like this-

![2019-11-01 (8)](https://user-images.githubusercontent.com/43600306/68018127-5d406d80-fcbe-11e9-94a4-62a2aca99041.png)

**Describe alternatives

[2019-11-01 11:31] ShreyaPrasad1209 opened #141 "Change colour of mobile navbar menu"
**Is your feature request related to a problem? Please describe.**
 Current colour of mobile navbar makes it hard to notice.

**Describe the solution you'd like**
Change its colour to dark green. Always use dark colours to highlight prominent features in a website.

[2019-11-01 11:33] ShreyaPrasad1209 opened #142 "Fix scroll bar"
**Is your feature request related to a problem? Please describe.**
Scroll bar not moving up and down in navbar menu on left side.

**Describe the solution you'd like**
 Make scroll bar functional using overflow property.

[2019-11-01 11:34] ShreyaPrasad1209 opened #143 "Highlight search bar"
**Is your feature request related to a problem? Please describe.**
 Search bar is not prominent in website, making it look like an insignificant feature.

**Describe the solution you'd like**
1. Give shadow to search bar
2. Colour placeholder green
3. Make placeholder bold

**Additional context**
![image](https://user-images.githubusercontent.com/43600306/68016451-9ecf1980-fcba-11e9-845e-c0183d14f

[2019-11-01 13:05] tachyons commented on #138
Docs need not be rendered properly in Github preview, What really matters is whether it renders properly in the documentation website

[2019-11-02 19:55] AnubhavMadhav opened #144 "Fix the git command in README.md"
I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature - **Typo in the command mentioned in "Steps to Contributing" section of README.md**

#### Current behaviour - `git commit -am 'Add feature'`

#### Expected behaviour - `git commit -m 'Add feature'`

#### Screenshots (if relevant) - **Null**

#### Are you working on this issue? (Yes/No) - Yes, I am working on this issue.

[2019-11-02 20:59] AnubhavMadhav opened #146 "DARK MODE Error"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature - Dark Mode Bug :- The Dark Mode doesn't works anymore as soon as the user clicks on the "CircuitVerse Documentation" on the top of the Navigation Bar at the left side.

#### Current behaviour - When I clicked at the "Home" button on the Navigation Bar, then switched on the Dark Mode, dark mode works, but then I clicked o

[2019-11-02 21:15] AnubhavMadhav commented on #146
Also, please look at the "Dark Mode Button":
When I switch dark mode on, it toggles.
But, after switching the dark mode on if I click on any of the button in the Navigation Bar, the "Dark Mode Button" toggles off, though Dark Mode is still on.

Expectation -"Dark Mode Button" should remain toggled on when user clicks on any of the button in the Navigation Bar, provided that user was already in the

[2019-11-03 07:12] sakshi1499 opened #147 "Some elements fail to change color in dark mode"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
When I switch the dark mode  on, I expect that everything inverts color according to the dark theme. But it fails in the case of multiplexer documentation.
#### Current behaviour -
Second input fails to change color.
#### Expected behaviour -
It should change color.
#### Screenshots (if relevant) -
![before](https://use

[2019-11-03 07:20] sakshi1499 opened #148 "Filename link provided in document redirects to 404"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
When clicked on filename under Test bench, the link redirects to 404 page.
#### Current behaviour -
It redirects to 404 page.
#### Expected behaviour -
It should display the expected file.
#### Screenshots (if relevant) -
![filename](https://user-images.githubusercontent.com/42520146/68081717-82f18200-fe38-11e9-8f42-c55

[2019-11-03 07:23] sakshi1499 opened #149 "Add bootstrap to testbench"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Add bootstrap to enhance the look of testbench.
#### Current behaviour -
No bootstrap, plain buttons.
#### Expected behaviour -
Should contain bootstrap.
#### Screenshots (if relevant) -
![bootstrap](https://user-images.githubusercontent.com/42520146/68081753-f4c9cb80-fe38-11e9-8482-75b2582e14f1.PNG)

[2019-11-03 13:33] ShreyaPrasad1209 opened #150 "Zoom button not working"
**Describe the bug**
On zooming the image, its making the background white instead of enlarging the image.

**Expected behavior**
Must enlarge the image according to each click.

**Screenshots**
Before zooming
![image](https://user-images.githubusercontent.com/43600306/68069682-72360300-fd89-11e9-8ef9-48412a55120f.png)
After zooming
![2019-11-02 (7)](https://user-images.githubusercontent.com/43600

[2019-11-04 17:32] ShreyaPrasad1209 commented on #150
Yes, I know. What do you want me to do with it?

[2019-11-05 13:20] deepak2431 opened #151 "Add multi input guide for standard gates"
#### Describe your bug/feature -
Currently, the standard gate guide only shows multi input option for only AND gates. Add multi input guide for other gates too.

#### Are you working on this issue? (Yes/No)
No

[2019-11-05 13:38] deepak2431 opened #152 "Fix navbar position"
#### Describe your bug/feature -
Currently, the position of navbar for mobile view is in the bottom left which is not expected and it overrides certain content of the docs too.

#### Screenshots (if relevant) -
![45bbc5d1-5421-4f59-ad31-ea57f093a3e6](https://user-images.githubusercontent.com/44617923/68212446-8b47e980-ffff-11e9-9b4a-15f76cad7b79.png)

[2019-11-05 16:11] rajat2502 opened #153 "Fix the size of the Videos in guide"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug - The size of the videos should be same by default, but on the *Getting Started* section of the page

#### Current behaviour - The size of the videos tags are irregular

#### Expected behaviour - All the videos should be of the same size

#### Screenshots (if relevant) -
![Screenshot from 2019-11-05 21-29-10](https://user-images.

[2019-11-05 19:13] sachin235 opened #154 "Misleading placement of dark mode toggle button and edit on github link"
#### I am submitting a -
* [] **Feature Request**
* [] **UI-UX enhancement**

#### Current behaviour -
The "Edit on Github" link and the dark mode toggle button are placed simultaneously. Due to this the toggle button might be mistaken by the first time users, to be related to the "Edit on Github" link.

#### Expected behaviour -
The "Edit on Github" and the toggle button should be placed separate

[2019-11-05 19:23] sachin235 opened #155 "Edit on Github redirects to the Readme"
#### I am submitting a -
* [] **Feature Request**
* [] **Bug Report**

#### Current behaviour -
The "Edit on Github" link currently redirects to the Readme file of the master branch.

#### Expected behaviour -
The "Edit on Github" link should instead redirect to the Github repository of CircuitVerseDocs.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-06 00-47-56](https://user-images.g

[2019-11-05 20:11] sachin235 opened #156 "The zoom in and zoom out button should become inactive"
#### I am submitting a -
* [] **Feature Request**

#### Current behaviour -
The figure provided on home page has "+" and "-" buttons for zoom in and out respectively.
The zoom in and out function works only upto some extent, but the buttons remain active even after that.

#### Expected behaviour -
The "+" button should become inactive once the figure can no longer be zoomed in. Similarly the "-" b

[2019-11-05 20:21] Parikshit-Hooda commented on #155
@sachin235 This issue can certainly be solved under GCI. Please provide steps to reproduce this issue. Where is this 'Edit on GIthub'(perhaps you can provide a screenshot for this as well so that we have more context)

[2019-11-05 21:17] dev9414 opened #157 "Only zoom in/out button is there"
#### I am submitting a -
* [] **Feature Request**
Only zoon
#### Describe your feature
There is only zoom in /out button is there and it is default zooms in center part of image only after zoom in we are not able to move left/right in image so left/right (like <-/->) button should be added
#### Screenshots (if relevant)

![Screenshot_20191106-024057~2](https://user-images.githubusercontent.com/465

[2019-11-06 10:33] sachin235 commented on #155
This "Edit on GitHub" is present on the home page of the CircuitVerseDocs itself.

The screenshot
https://user-images.githubusercontent.com/32926581/68237975-3d96a580-002e-11ea-97af-05883361a249.png

This should redirect to the CircuitVerseDocs repository instead of the Readme file of master branch.

[2019-11-06 12:23] harsha-iiiv commented on #146
Hey, @AnubhavMadhav we can label this issue for GCI-19

[2019-11-06 14:05] dev9414 opened #158 "Delete Comments"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Right now There is delete option after delete there is option undelete there should be more option like permanent delete option

#### Screenshots (if relevant) -
![Screenshot_20191106-193232](https://user-images.githubusercontent.com/46513305/68304836-9caaf780-00cc-11ea-8df3-f1a9e77a3a64.png)

#### Are you working

[2019-11-06 14:07] #158 closed

[2019-11-06 14:34] plxity opened #159 "When new option is selected from Navbar it should scroll to top of the page."
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -

#### Current behaviour -
When a new option is selected from a Navbar, the new page loads up at the same height from the top.
#### Expected behaviour -
It should scroll up to the top of the page as a new option is selected from the Navbar.

[2019-11-06 19:56] AnubhavMadhav opened #160 "Change Display text of Fullscreen button to "Exit Fullscreen""
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature
Go to : https://docs.circuitverse.org/#/
Hover on: Hover the cursor near the '+' and '-' buttons in the canvas/simulator i.e. on the Home Page of the above URL. Click "Fullscreen".

#### Current behaviour
After clicking on "Fullscreen", the canvas/simulator turns into a fullscreen preview but the

[2019-11-06 20:11] AnubhavMadhav opened #161 "Add a Resize Box for circuit in Simulator"
#### I am submitting a -
* [x] **Feature Request**
*  **Bug Report**

#### Describe your bug/feature -
A feature of "Resize Box" should be added for the circuit inside Simulator/Canvas on Home Page of https://docs.circuitverse.org/ so that it becomes easier for the user to resize the circuit according to his own requirements.

#### Current behaviour -
The ratio of dimensions of the circuit inside

[2019-11-06 20:28] AnubhavMadhav opened #162 "Change complementary color of Dark Mode"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Complementary color of Dark Mode is not much attractive currently.
Click on this link https://docs.circuitverse.org/ and then toggle on the Dark Mode

#### Current behaviour -
Current color is RED with Dark Mode.
![Screenshot (1897)](https://user-images.githubusercontent.com/42323737/68334699-2

[2019-11-06 20:34] JoshuaPoddoku opened #163 "button in the sidebar"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
The button is placed at the bottom which is difficult to notice for a user.

#### Current behaviour -
The toggle button size is small and it is at the bottom.

#### Expected behaviour -
The button should be placed at the top and it should be increased in size.

#### Screenshots (if relevant) -
![screencapture-docs

[2019-11-07 12:11] deepak2431 opened #164 "Fix typo"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
Spelling mistake of a word. In the modifying elements section the word  choose is written as chose.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-07 17-38-11](https://user-images.githubusercontent.com/44617923/68388060-cf64f680-0185-11ea-9cf0-15e6d9abb67a.png)

#### Are you working on this issue? (Yes/No)

[2019-11-07 12:14] deepak2431 commented on #164
@Parikshit-Hooda  Hi, this task fit into the task list of find and fix typos which you were looking for.
Thanks!

[2019-11-07 12:38] deepak2431 opened #165 "Fix typo"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
The word practice is written as practise in the Priority Encoder option.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-07 18-05-33](https://user-images.githubusercontent.com/44617923/68389675-844ce280-0189-11ea-9f71-77cd9262601d.png)

#### Are you working on this issue? (Yes/No)
No, this task is for G

[2019-11-07 12:38] deepak2431 commented on #165
@Parikshit-Hooda Please have a look over this issue.
Thanks!

[2019-11-07 14:30] ShreyaPrasad1209 commented on #163
**Duplicate Issue**
Already open at #139

[2019-11-07 14:31] ShreyaPrasad1209 commented on #152
**Duplicate Issue**
Already open at #139

[2019-11-07 16:09] deepak2431 commented on #152
@ShreyaPrasad1209 Thanks for the review. I will close it.

[2019-11-07 16:09] #152 closed

[2019-11-07 19:09] JoshuaPoddoku commented on #163
Thanks. I'm sorry for that. Kindly check other
issues.

On Thu, Nov 7, 2019, 8:00 PM Shreya Prasad <notifications@github.com> wrote:

[2019-11-08 12:53] ShreyaPrasad1209 commented on #146
**Duplicate Issue**
This issue is a part of Interactive Book repo and is already opened at https://github.com/CircuitVerse/Interactive-Book/issues/12

[2019-11-08 12:54] ShreyaPrasad1209 commented on #163
Sure, could you please close this issue?

[2019-11-08 12:58] ShreyaPrasad1209 commented on #138
Maybe you can use Insert Code feature to display iframe tags separately from rest of the document

[2019-11-08 13:03] PragatiVerma18 commented on #138
Embedding an <iframe> into GitHub-flavored Markdown (GFM) is not supported. Here's the official stance on it from their specs:

6.11 Disallowed Raw HTML (extension)

GFM enables the tagfilter extension, where the following HTML tags will be filtered when rendering HTML output:

<title> <textarea> <style> <xmp> <iframe> <noembed> <noframes> <script> <plaintext>

[...] These tags are chosen in parti

[2019-11-08 13:06] PragatiVerma18 commented on #138
@tachyons what you are saying is fine but still, these stray iframe tags make the markdown files redundant, in fact, the person may have issues reading it for the first time. So, I recommend at least they can be made simple links, if not images/screenshots.

[2019-11-08 13:30] #163 closed

[2019-11-09 07:44] tachyons commented on #138
These markdowns in github is not for the end user

[2019-11-09 07:44] #138 closed

[2019-11-09 17:57] PragatiVerma18 opened #166 "The toggle button for dark button needs a label."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The toggle button on the docs page( https://docs.circuitverse.org/#/ ) did not specify its purpose. Separate it from the edit on GitHub link. It is confusing at first sight.

**Additional context**
Add any other context or screenshots abou

[2019-11-09 18:24] aayush-05 commented on #166
I guess you are looking for this @CodeSarthak : https://github.com/CircuitVerse/CircuitVerseDocs/blob/e62b6e8598ccee775a1caeb2ac2d128c62d6e13f/docs/index.html

[2019-11-09 18:51] aayush-05 opened #169 "Favicon missing for CircuitVerse Docs"
**Describe the bug**
The favicon icon is missing in the CircuitVerse Docs subpage.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.circuitverse.org/#/'
2. See error

**Expected behavior**
A proper favicon icon should be displayed for the CircuitVerse Docs page. Either the same CircuitVerse logo can be taken or a separate logo can be designed for the Docs section.

**Scree

[2019-11-09 19:26] aayush-05 opened #170 "No Home Button on Docs page"
**Is your feature request related to a problem? Please describe.**
If a user wants to go back to the main CircuitVerse website after a series of viewing different pages on CircuitVerse Docs, he would have to go through all of them again when pressing the back button.

**Describe the solution you'd like**
A better solution would be to have a Home Button on each CircuitVerse Docs page to quickly red

[2019-11-09 20:19] aayush-05 opened #171 "Theme Toggler not working properly"
**Describe the bug**
When the Dark theme mode is in, and the user switch pages on CircuitVerse Docs; the Theme Toggler gets back to its original state (i.e of Light theme) while the current theme is still Dark.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.circuitverse.org/#/'
2. Toggle the theme to Dark
3. Switch to any different page from the left sidebar
4. See error

[2019-11-10 08:17] ShreyaPrasad1209 commented on #171
**Duplicate Issue**
This issue is a part of Interactive Book repo and is similiar to CircuitVerse/Interactive-Book#12

[2019-11-10 09:47] aayush-05 commented on #171
Okay

[2019-11-10 11:51] fluctix commented on #169
a issue for this has already been made at https://github.com/CircuitVerse/CircuitVerseDocs/issues/135

[2019-11-10 11:58] aayush-05 commented on #169
Ok

[2019-11-10 11:58] #169 closed

[2019-11-11 20:29] aayush-05 commented on #171
@ShreyaPrasad1209 This is a different issue.
The one you mentioned describes the fact that the Interactive book gets back to the light mode when the category is changed or the page is refereshed.
But in case of CircuitVerse Docs, the dark theme remains even after refreshing and only the toggler gets back to its initial position.

[2019-11-15 17:55] PragatiVerma18 opened #174 "Broken links in Modify.md file"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -

There are broken image links in <a href="https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/Modify.md">Modify.md file</a> and <a href="https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/annotation.md">annotation.md</a>.

#### Current behaviour -

On clicking the a

[2019-11-15 18:58] aayush-05 opened #176 "Prev and Next Links Missing"
**Describe the bug**
The links to the previous and next links available at the bottom of the page are missing from the "Circuit Elements" and "Miscellaneous" page.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68967851-295d6000-0807-11ea-84bf-b6836957035c.png)

![image](https://user-images.githubusercontent.com/47032027/68967906-45610180-0807-11ea-9c11-d235c0e0f89e.p

[2019-11-15 19:12] aayush-05 opened #177 "Dark Mode toggler overlapped"
**Describe the bug**
After resizing the window size to 768px or less horizontally, the dark mode toggler gets overlapped by the Github corner logo. This makes it impossible to switch to dark mode.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68968951-c7eac080-0809-11ea-84bb-61035033dbe5.png)

**Solution**
Either the Dark mode toggler should be moved a little down or

[2019-11-15 19:21] aayush-05 opened #178 "Fixed wrapping in Mobile view"
**Describe the bug**
Either of the previous and next links at the bottom of the page move to the next line rather than being on the same line and getting the text for page headings wrapped.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68969441-fddc7480-080a-11ea-87de-825d8bee955c.png)

**Solution**
Rather than the whole div element moving to the next line, the page

[2019-11-17 08:30] fluctix commented on #177
We can use https://edull24.github.io/fork-me-on-github/

[2019-11-17 10:07] criticic opened #179 "Use docsify-themeable themes"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your feature -
Use https://jhildenbiddle.github.io/docsify-themeable/ as it is more customizable and its dark mode and light mode look more uniform and it would also solve some of the issues with the themes currently used.
### Screenshots (if relevant)
#### Current behaviour -
![olddark](https://user-images.githubusercontent.com/405

[2019-11-17 10:25] fluctix commented on #146
Can i work on this?

[2019-11-17 14:25] sgpritam commented on #144
###  Clone it :busts_in_silhouette:

You need to clone (download) it to local machine using

[code]

Once you have cloned the `cbcpp` repository in Github, move to that folder first using change
directory command on linux and Mac.

[code]

Move to this folder for all other commands.

### Create a branch
[code]
[code]
[code]

### Make necessary changes and commit those changes
Now open `Contributor

[2019-11-17 14:29] sgpritam commented on #144
Fix the git command in README.md #144  https://github.com/CircuitVerse/CircuitVerseDocs/issues/144#issuecomment-554750766

[2019-11-20 23:22] arnoldpalmer42 commented on #164
Hi there! Can I take this?

[2019-11-30 16:08] jaideepheer opened #181 "Splitter cannot split 32-bit line"
#### I am submitting a -
* [] **Feature Request**
* [-] **Bug Report**

#### Describe your bug/feature -
When a splitter is attached to a 32-bit line, it causes a connection error if the line has the 32nd bit(MSB) as 1.
#### Expected behavior -
The splitter should be able to split without errors.
#### Screenshots (if relevant) -
![image](https://user-images.githubusercontent.com/15523937/69902975-

[2019-11-30 22:14] deepak2431 opened #182 "Add CircuitVerse logo in the Readme"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Add the logo of CircuitVerse in the readme.

#### Are you working on this task -
No, this task is for GCI students.

[2019-12-03 17:04] aayush-05 commented on #133
Hey @Parikshit-Hooda !
I don't think the example given here is really a issue. The example you mentioned isn't an image but a simulator circuit which is running fine at the main website.
![image](https://user-images.githubusercontent.com/47032027/70072493-1cb97400-161d-11ea-9bcd-86ccc3a39fad.png)

[2019-12-03 17:29] tachyons commented on #133
Closing as invalid

[2019-12-03 17:29] #133 closed

[2019-12-03 17:31] tachyons commented on #134
Markdown need not he properly rendered in github preview.

[2019-12-03 17:31] #134 closed

[2019-12-04 04:34] Parikshit-Hooda opened #186 "docs server on localhost, not on 0.0.0.0:8000"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The server runs on localhost, not on 0.0.0.0 8000, as the readme says. Is this a docs problem, my system's problem or a bug exists?

#### Current behaviour -

#### Expected behaviour -

#### Screenshots (if relevant) -

#### Are you working on this issue? (Yes/No)
no

[2019-12-09 17:23] JoshHeng commented on #170
Hi, I've claimed this task on GCI

[2019-12-10 21:55] JoshHeng commented on #186
I can't see any reference to `0.0.0.0` in the README.
For reference, `localhost`/`127.0.0.1` basically loops back to your computer. As you open the Python webserver on your computer and it opens port 8000 on your computer, when you go to `localhost:8000` this is what you visit

[2019-12-11 13:47] JoshHeng commented on #182
@sal2701 Please could you add this as a task on GCI

[2019-12-11 13:47] JoshHeng commented on #170
Issue resolved, can close

[2019-12-11 13:49] JoshHeng commented on #135
@sal2701 @Parikshit-Hooda Is this still open to GCI as I noticed that a PR was submitted but doesn't seem to have been merged. If it is, please could you add it on GCI itself. Thanks!

[2019-12-12 15:58] satu0king opened #190 "Document Assignment Grading in Groups"
Add details on how a teacher can grade assignments. Describe the following

- [ ] Flow of control
- [ ] Different grading models

[2019-12-12 16:00] sal2701 commented on #182
@JoshHeng in the process. You can claim it in sometime.

[2019-12-12 16:23] satu0king commented on #171
I believe this is working now, please test it
@aayush-05 @ShreyaPrasad1209

For me however, the theme is not staying after refreshing.

[2019-12-12 16:27] #182 closed

[2019-12-12 16:44] aayush-05 commented on #171
For me currently, in CircuitVerse docs
Dark theme stays when switching pages but the toggler comes back to the original position. When the page is refreshed both the theme and the toggler gets reset.
In Interactive Book,
The theme is getting back to the light one on both switching pages and refreshing the page.

[2019-12-12 17:00] satu0king commented on #174
@PragatiVerma18 The images are correctly rendered here https://docs.circuitverse.org/#/Modify

[2019-12-12 17:00] #174 closed

[2019-12-13 11:39] Parikshit-Hooda commented on #135
@JoshHeng I believe this one is completed. We haven't merged it yet, would be done sometime in the future. Thanks for waiting.

[2019-12-21 18:14] ericsheng495 commented on #190
https://docs.google.com/document/d/1DJXSMggqJYstkfYdSM7EaqKcsvNMT6NvyaiOOxQxAss/edit?usp=sharing

[2019-12-22 03:44] deepak2431 commented on #190
@ericsheng495 Hi, Can you please open a PR for it?

[2019-12-22 20:32] CEa-TIde opened #194 "import IC option menu goes outside intended area if too many iC's in project"
#### I am submitting a -**Bug Report**

#### Describe your bug - When having to many IC's, the menu goes farther down than the bottom of the area where you can place logic gates, cutting off a part of this area and the top IC options.

#### Current behaviour - Some IC options get cut off, when you have too many IC's. If you resize the window (moving it or closing it is not possible, because that's

[2019-12-28 16:19] NumberC opened #198 "Hamburger Icon Location"
**Feature**

#### Describe your feature -
The hamburger icon that opens the sidebar is in the bottom-left corner. I think most people would prefer it in the top-left corner, like most other sites. Users follow the content in the order from top to bottom, so it would make sense to have the hamburger icon in the top-left corner.

#### Screenshots (if relevant) -
![71546030-4c2f7800-2960-11ea-9d14-5c

[2019-12-28 16:37] NumberC opened #199 "Dark Mode Slider"
**Minor Bug**

#### Describe your bug/feature -
When you click the slider to change to dark mode, dark mode is active and so is the slider. However, when you navigate to another topic within the Docs, dark mode is still active, but the slider is not.

#### Current behaviour -
When you click the slider to change to dark mode, dark mode is active and so is the slider. However, when you navigate to a

[2020-01-01 17:50] JoshHeng commented on #98
I don't think that this would be that beneficial, as we already have Discord and Slack servers.

[2020-01-05 10:52] #190 closed

[2020-01-08 11:09] Shivansh2407 commented on #126
Can I fix this?

[2020-01-13 17:42] #98 closed

[2020-01-22 03:48] #139 closed

[2020-01-22 17:29] #126 closed

[2020-02-04 21:01] felixfaisal commented on #198
It seems the issue is fixed, I checked the website and it is at the top.

[2020-02-05 18:47] felixfaisal commented on #1
I would like to work on improving this documentation, I'm very interested in digital design and would love to contribute.

[2020-02-21 11:18] anmol-thakur opened #206 "Redundant links on main page"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug -
 Home link , CiruitVerse Documentation link and Welcome to CircuitVerse link ,all three links serve the same purpose. Thus the latter two can be made non-functional.

#### Current behaviour -
Clicking on Home link , CiruitVerse Documentation link and Welcome to CircuitVerse link , opens the same page.

#### Expected behaviour -

[2020-02-24 06:11] DevL0rd opened #207 "ALOT of issues i ran into while making the 16-Bit Computer"
Here is a link to the computer I mentioned in the title.
https://circuitverse.org/users/17603/projects/54486

I love circuit verse and hope alot of these annoying issues get fixed. thanks everyone who works so hard on this, But withouth further ado... let me release my frustration this software has fueled me with.

While building this I ran into very many frustrating issues I would like to list he

[2020-02-26 02:52] HarshalGoyal commented on #1
I would love to work on this issue

[2020-02-27 10:33] dkapur17 commented on #177
There still seems to be an issue in mobile view.

![Overlapped-Slider-Issue](https://user-images.githubusercontent.com/37783178/75436469-a5c11c80-597a-11ea-96ec-456e5f691597.gif)

[2020-02-27 15:04] aayush-05 commented on #177
The pr by @mohit-003 is yet to be merged. Once merged, I think it will solve the bug for mobile devices as well.

[2020-02-28 08:22] dkapur17 commented on #199
Working on it.

[2020-03-01 07:57] dkapur17 commented on #199
Can this issue be closed?

[2020-03-16 18:06] Umoren commented on #206
Yes i am working on this issue

[2020-03-17 14:27] Vishruth-S opened #212 "Function of toggle button not obvious"
I am submitting a -
**Bug Report**

####Describe your bug/feature -
The toggle button in "Documentation" page has no description of what it does unless clicked. At first sight, looks as if it allows "Edit on Github" since it's next to it.

####To Reproduce
  Go to https://docs.circuitverse.org/#/
  See error

#### Expected behaviour -
Adding "Dark mode" next to the button improves appearance and u

[2020-03-19 11:56] Vishruth-S commented on #212
@Ananthavijay Could you please tell me where can I find the source code of this page so as to make the above change

[2020-03-19 13:55] Ananthavijay commented on #212
I think [this](https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/index.html) is the file you should edit.

[2020-03-23 04:05] Hari-07 opened #213 "Add Label for Dark Mode Toggle"
#### I am submitting a -
***Minor UI Change***

#### Describe your bug/feature -
The Dark Mode toggle right now sits to the right of Edit on  Github button, and has no indication that the toggle is for Dark Mode

#### Expected behaviour -
Add a label for the Toggle Switch. If necessary shift Edit on Github Link to next line, if UI gets Cluttered

#### Screenshots (if relevant) -
![Capture 5](https

[2020-03-24 03:13] mahmodHammad opened #215 "overflow at phone, and tablet screens on Getting started page"
#### I am submitting a -
* [X] **Bug Report**

#### Describe your bug/feature -

#### Current behaviour -
Getting started videos or gifs width overflow at phone, and tablet screens

#### Expected behaviour -
Each gif or video should take 100% width

#### Screenshots (if relevant) -
![docs](https://user-images.githubusercontent.com/41790090/77384358-df285480-6d8d-11ea-933b-4e8fb07ac971.gif)

#### A

[2020-03-24 13:48] Umoren commented on #215
YES I AM WORKING ON THIS

[2020-03-25 12:53] ShubhankarKG opened #217 "CircuitVerse logo redirects to itself"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The CircuitVerse logo at the top left of page redirects to learn.circuitverse.org which is not good if i come from CircuitVerse's website.

#### Current behaviour -
The link on top left redirects to learn.circuitverse.org

#### Expected behaviour -
The link on top left redirects to circuitverse

[2020-03-31 16:13] nitin10s opened #218 "Documentation for the Delay Property needs to be added"
#### I am submitting a **Bug Report**

#### Describe your bug/feature -
The purpose of Delay Property hasn't been documented yet.

[2020-03-31 17:15] nitin10s opened #219 "Irregularity in the design"
The "previous" and "next" links have different opacities apparently for no reason. They should have the same opacity level and design.

![image (6)](https://user-images.githubusercontent.com/16988558/78049623-e7d5e780-7398-11ea-8ebf-6053c0c9246c.png)

[2020-03-31 17:16] nitin10s commented on #219
might be? How do you know?

[2020-03-31 18:44] Ananthavijay commented on #219
Actually it is just assumption. One will go through the docs in the order. So the previous page would be read and hence it is not highlighted

[2020-03-31 20:08] Ananthavijay commented on #159
@nitin10s This issue can be closed. I think this issue is fixed by this PR: https://github.com/CircuitVerse/CircuitVerseDocs/pull/185

[2020-03-31 20:10] Ananthavijay commented on #3
@nitin10s This issue can be closed.

[2020-03-31 20:12] Ananthavijay commented on #47
@nitin10s This can also be closed.

[2020-03-31 20:47] Ananthavijay commented on #148
@sakshi1499 Can I work on this? also, the video is a bit larger, so it should be redone. Can I redo the video also?

[2020-03-31 20:58] #47 closed

[2020-03-31 20:59] #3 closed

[2020-04-01 12:19] nitin10s commented on #219
Nope, this can probably act as a false signifier as well, so should not be used.

[2020-05-11 13:01] kradek opened #220 "JK flipflop sometimes changes state with JK=00"
#### I am submitting a -
* [x] **Bug Report**

#### JK flipflop sometimes changes state when both J and K are 0. That shouldn't happen, with JK=00, expected behavior is "no change"

#### Current behaviour - It doesn't happen always, but sometimes it does - JK flipflop changes state (output) when both J and K inputs are 0. In the video attached, you can see that the first few times it doesn't happe

[2020-05-13 14:27] animesh-007 opened #221 "Dark mode gets switched off after refreshing the page"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
Dark mode gets switched off after refreshing the page rather it should retain its value after refreshing.

#### Current behaviour -
Dark mode gets switched off after refreshing the page.

#### Expected behavior -
It should retain its previous value after refreshing.
#### Screenshots (if relevan

[2020-05-15 08:15] coding-CEO opened #222 "Navigation issue between Official Page and documentation page"
Issue is,
from https://learn.circuitverse.org/ you Can go to https://circuitverse.org/
but,
from https://docs.circuitverse.org/#/  There is no way to go to https://circuitverse.org/

Anyone can take this issue.

[2020-05-15 10:19] #215 closed

[2020-05-15 11:31] #177 closed

[2020-05-15 11:37] #199 closed

[2020-05-15 12:15] YashKumarVerma commented on #171
This has been fixed.

[2020-05-15 12:15] #171 closed

[2020-05-15 12:17] YashKumarVerma commented on #162
I personally think that red is good, but at the same time, our logo is green in color, so why not our docs page?

[2020-05-15 12:19] YashKumarVerma commented on #154
Closing in favour of the following workds
- #212
- #213

[2020-05-15 12:19] #154 closed

[2020-05-15 12:21] YashKumarVerma commented on #146
Solved.

[2020-05-15 12:21] #146 closed

[2020-05-15 12:22] YashKumarVerma commented on #141
Could you provide some more content regarding the issue? photo / video ?

[2020-05-15 12:28] YashKumarVerma commented on #166
Mentioning duplicate Issues for reference
- #213
- #212
- #154

[2020-05-15 12:28] #213 closed

[2020-05-15 12:29] #212 closed

[2020-05-15 13:36] AnubhavMadhav commented on #162
Yes, it can be.

[2020-05-15 16:22] YashKumarVerma commented on #162
@AnubhavMadhav  are you willing to work on it ?

[2020-05-15 16:52] AnubhavMadhav commented on #162
Not for now, got some other stuff to do, otherwise I would love to serve for CircuitVerse.

[2020-05-16 12:03] animesh-007 opened #223 "Using of Gif images instead of videos"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -https://docs.circuitverse.org/getting_started Add gif images instead of videos on this page

#### Current behaviour - Videos are used here

#### Expected behaviour - Gif should be added.

#### Screenshots (if relevant) -

#### Are you working on this issue? (Yes/No)
yes

[2020-05-19 06:50] schezfaz commented on #222
Hey, I would like to work on this issue! I have forked the project, and was thinking we could add the logo (as on https://learn.circuitverse.org/) that redirects it back to https://circuitverse.org/  above the search tab. Can I take this forward if possible?

[2020-05-19 06:57] coding-CEO commented on #222
Sure. you can do this.
Best of luck.

[2020-05-19 07:01] schezfaz commented on #222
Thankyou, could you please assign this issue to me?

[2020-05-19 07:06] coding-CEO commented on #222
I don't have the authority to do that.
I think @YashKumarVerma Will assign this issue to you.

[2020-05-19 12:07] schezfaz commented on #222
I think this issue is already been dealt with as per: #188.

[2020-05-19 12:17] coding-CEO commented on #217
@ShubhankarKG this issue does not belong to this repo.
You can close this issue.

[2020-05-19 13:35] #217 closed

[2020-05-19 14:38] schezfaz commented on #147
Hey @YashKumarVerma, I would like to work on this issue. Can I take it forward?

[2020-05-19 16:22] schezfaz commented on #147
Hey @YashKumarVerma, I would like to work on this issue! May I take it forward?

[2020-05-19 17:13] schezfaz commented on #147
I have opened a PR for the same, please LMKWYT!

[2020-05-20 13:29] #147 closed

[2020-05-21 04:30] animesh-007 opened #228 "testbench.mp4 file is not found in testbench docs"
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
Testbench.mp4 file not found

#### Current behaviour -
testbench.mp4 file is not found in testbench docs
#### Expected behaviour -
adding testbench.mp4 file as testbench.gif in testbench docs

#### Screenshots (if relevant) -

#### Are you working on this issue? (Yes/No)
yes

[2020-05-21 11:26] ShubhankarKG opened #229 "Dark mode button broken :("
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The Dark mode button is broken :(

#### Current behaviour -
The dark mode button changes to a non visible input button

#### Expected behaviour -
The previously used dark mode button toggle worked fine

#### Screenshots
![Screenshot from 2020-05-21 16-53-46](https://user-images.githubuserconten

[2020-05-21 11:44] Shivansh2407 commented on #229
@YashKumarVerma

[2020-05-22 05:47] ShubhankarKG opened #230 "Remove contributors tag from docs"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your feature -
Some pages have mentions while some pages don't. It's better to keep one format.

#### Current behaviour -
As mentioned above, some pages have mentions while some pages don't

#### Expected behaviour -
All pages shouldn't have tags like these. Since everybody must have contributed, we can't mention

[2020-05-22 06:12] Shivansh2407 commented on #230
I guess it would be better if we can mention each and every contributor who has contributed to the Docs. This will motivate them a lot. For the things wherein the contributors aren't mentioned, we can look out for the commits regarding them and then mention the contributor name/ID.
Let me know your views.

[2020-05-22 06:18] YashKumarVerma commented on #230
I think seeing the number of contributions, (even a type fix = contribution), we cannot have every name on the documentation, as it will fill up the docs with user handles.

But, instead something like this, as is done for the interactive book can be done.
![image](https://user-images.githubusercontent.com/14032427/82637200-e5b63980-9c21-11ea-99af-960d47aec689.png)

This solution is
- dynamic
- do

[2020-05-22 06:24] Shivansh2407 commented on #230
Yeah this can be implemented @YashKumarVerma . But what I was talking about was regarding Contributing new material like adding flip flop conversions which is a new section. So for that we can mention the name of the contributor, while for a typo fix, rephrasing content we can have the contributor section as you suggested.

[2020-05-22 06:25] ShubhankarKG commented on #230
As far as contributing section is concerned, all contributions are covered in the contribution graph itself. Mentioning specific people might look enticing, but can also be detrimental in the sense, that for a page that had 4 or 5 contributors, only 1 had a mention.

[2020-05-22 06:37] YashKumarVerma commented on #230
I don't think we should do something like that, because, at some point in future, there would a doubt regarding our definition of "new material". It can be adding a new example as well, or adding a new para of explanation about some topic, and then we'd arrive at conflicts again.

[2020-05-22 06:47] Shivansh2407 commented on #230
Ok cool. @ShubhankarKG then you can go ahead and fix this by removing all the contributors from docs and adding a contributors Section 👍

[2020-05-22 06:48] YashKumarVerma commented on #230
or should we wait for opinions of other contributions till evening (IST)?

[2020-05-22 06:52] ShubhankarKG opened #231 "Github pages give 404 on refresh"
#### I am submitting a -
* [ ] **Feature Request**
* [x] **Bug Report**

#### Describe your bug -
All pages except the home page give a 404 error on refresh.

#### Current behaviour -
As stated, only the main page works on refresh. No other pages work.

#### Expected behaviour -
All pages work the same on refresh.

#### Screenshots (if relevant) -
![Screenshot from 2020-05-22 12-19-58](https://use

[2020-05-22 06:54] ShubhankarKG commented on #230
I'll keep the PR ready just in case no one responds. Let's wait till 4 p.m.

[2020-05-22 06:54] Shivansh2407 commented on #230
Sure 👍. @satu0king @tachyons @nitin10s please let us know your views.

[2020-05-22 20:41] Umoren commented on #231
Yes, i'm working on this.

[2020-05-23 10:20] ShubhankarKG commented on #230
Should we wait @YashKumarVerma , @Shivansh2407 ?

[2020-05-23 10:30] YashKumarVerma commented on #230
Send the PR, just in case there'd be a problem, we can revert it as well.

[2020-05-23 10:42] ShubhankarKG commented on #230
Done

[2020-05-23 14:58] nitin10s commented on #230
Looks like a nice idea to me @satu0king. The PR needs some changes though.

[2020-05-23 15:51] ShubhankarKG opened #234 "No favicon.ico in website."
#### I am submitting a -
* [] **Feature Request**
* [x] **Bug Report**

#### Describe your bug/feature -
The website doesn't have the new CircuitVerse favicon. It needs to be added.

#### Current behaviour -
No favicon.ico

#### Expected behaviour -
Favicon.ico present

#### Screenshots (if relevant) -
![Screenshot from 2020-05-23 21-21-14](https://user-images.githubusercontent.com/50791000/827348

[2020-05-24 16:25] #234 closed

[2020-05-25 15:58] Umoren opened #237 "Dark Mode state doesn't persist on page reload"
#### I am submitting a -
* [Bug] **Bug Report**

#### Describe your bug/feature -

#### Current behaviour -
- When a user selects the dark mode and refreshes the page, it reverts back to light mode.
#### Expected behaviour -
- Dark mode state should persist on reload.
This should be a high priority UX issue.
#### Screenshots (if relevant) -
![screencapture-localhost-5000-2020-05-25-16_54_20](https

[2020-05-25 16:30] #231 closed

[2020-05-25 16:35] #229 closed

[2020-05-25 16:40] YashKumarVerma commented on #237
Recently a PR by @ShubhankarKG  was submitted that made changes to dark mode button, make sure you pull the latest changes before making a PR

[2020-05-25 16:43] YashKumarVerma commented on #228
any updates @animesh-007

[2020-05-25 16:46] YashKumarVerma commented on #237
Duplicate of #221 so closing in it's favor. You can help in #221

[2020-05-25 16:47] #237 closed

[2020-05-25 16:47] Umoren commented on #237
Yeah I was waiting for that issue to be merged.
Thanks for the reminder.

On Mon, May 25, 2020, 17:41 Yash Kumar Verma <notifications@github.com>
wrote:

[2020-05-25 17:02] YashKumarVerma commented on #206
Hello there,

1. ![image](https://user-images.githubusercontent.com/14032427/82831719-d3185a80-9ed6-11ea-9ae1-a44143399921.png) is a heading, and since the docs site is not created manually, it follows a page structure by adding a link to the headings (so that they can be hyperlinked to content level). Therefore welcome to circuitverse is a hyperlink. (clicking on it will put it on top of page)
2.

[2020-05-25 17:03] YashKumarVerma commented on #222
Could you help me understand how?
I think it's still unresolved as
- we cannot go to circuitverse.org from docs
- closely linked to #206

Read https://github.com/CircuitVerse/CircuitVerseDocs/issues/206#issuecomment-633653912 for more context. We should fix this for once.

[2020-05-25 17:18] YashKumarVerma opened #238 "Outdated reference in README"
The outdated information should be either updated/removed.

[2020-05-25 19:35] Umoren commented on #206
Oh now i understand better.
I'll work on that

[2020-05-26 09:09] ShubhankarKG commented on #221
This needs to reopened. I guess I'm seeing a few anomalies due to localStorage here.

![Screenshot_20200526-135222](https://user-images.githubusercontent.com/50791000/82877906-69409500-9f58-11ea-92e1-4c85618ffb43.png)
![Screenshot_20200526-135215](https://user-images.githubusercontent.com/50791000/82877914-6b0a5880-9f58-11ea-97c5-d3184bbe6882.png)
![Screenshot_20200526-135148](https://user-images.

[2020-05-26 09:12] YashKumarVerma commented on #221
@schezfaz @Shivansh2407 @animesh-007 can you confirm.
* check on incognito to reset local configs.

[2020-05-26 09:14] Shivansh2407 commented on #221
The dark mode in incognito does not switches back to light mode on refresh but the toggle button does switch back to normal.

[2020-05-26 09:16] ShubhankarKG commented on #221
The toggle works independently now. It sets back on every route.

[2020-05-26 18:09] vibhuti019 opened #241 "Installation In Heroku Can Also Be Added In ReadME.md"
#### I am submitting a -
* [] **Feature Request**
We can add installation in Heroku also in ReadME.md

[2020-05-26 18:45] YashKumarVerma commented on #241
we can add, but why would someone try to redeploy circuitverse documentation on a dyno?

[2020-05-29 13:24] schezfaz commented on #162
Can I work on this?

[2020-05-29 19:43] vibhuti019 commented on #241
For developement purpose we can use Heroku as heroku can used from CLI.

[2020-05-29 20:04] CapTen101 commented on #238
Can I take up this issue? @YashKumarVerma

[2020-05-29 20:13] YashKumarVerma commented on #238
Sure

[2020-05-29 20:32] CapTen101 commented on #238
Cool, thanks!

[2020-05-31 09:36] mahmodHammad opened #242 "Update wire section"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
update connecting wires section https://docs.circuitverse.org/#/getting_started?id=connecting-wires
with this new feature
https://github.com/CircuitVerse/CircuitVerse/pull/1351
##### just mention that we can have another method of drawing wires by pressing CTRL

#### Are you working on this issue? (Yes/No)
NO

[2020-06-01 14:28] CapTen101 commented on #238
Hi @YashKumarVerma. Can you please throw some light as to what are some outdated references in the Readme excepe the changing gsoc 2019 reference to gsoc 2020? thanks! :smile:

[2020-06-01 14:31] YashKumarVerma commented on #238
Hint, something regarding gsoc.
.

[2020-06-01 14:55] CapTen101 commented on #238
right

[2020-06-01 15:16] CapTen101 commented on #238
Hi @YashKumarVerma, kindly review the above mentioned PR. :smile:

[2020-06-01 20:41] vibhuti019 commented on #222
i would like to work on this issue.

[2020-06-01 20:43] vibhuti019 commented on #222
We can give a link to CircuitVerse above search

[2020-06-01 20:56] #241 closed

[2020-06-01 21:18] #238 closed

[2020-06-02 20:56] vibhuti019 commented on #168
Explain the issue I would like to work on it.

[2020-06-02 20:59] vibhuti019 commented on #155
I would like to work on it.

[2020-06-03 13:04] Umoren commented on #242
Yes

[2020-06-05 07:08] nileshdas commented on #167
Hi! Can I work on this issue?

[2020-06-05 07:10] nileshdas commented on #162
Can I work on this issue?

[2020-06-05 07:39] nileshdas commented on #1
Hi! Can I work on this issue?

[2020-06-05 08:56] nileshdas opened #247 "Local Deployment Issue"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature - The two local deployment commands don't always seem to work

#### Current behaviour - They do not deploy on the localhost

#### Expected behaviour - They should deploy the project on localhost

#### Screenshots (if relevant) -
![Screenshot (122)](https://user-images.githubusercontent.com/39062229/83857250-58520980-

[2020-06-05 08:57] nileshdas commented on #247
I am working on it. Can someone assign this issue to me?

[2020-06-06 10:08] CapTen101 commented on #242
Can I work on this issue @mahmodHammad since #246 doesn't addresses the required feature update?

[2020-06-06 10:11] mahmodHammad commented on #242
@CapTen101 sure, if  @Umoren didn't respond within the next 24 hours

[2020-06-06 10:11] CapTen101 commented on #242
Ok, cool :+1: @mahmodHammad

[2020-06-06 10:13] CapTen101 commented on #242
@mahmodHammad  Also, just to clear both the options (dragging node & ctrl+click) only a single video is fine for demonstration since both method produce the same output?

[2020-06-06 10:17] mahmodHammad commented on #242
No
CTRL + Clicks is for creating multiple nodes as you want until you reach an other node or wire.
Dragging can only create one node, so in some cases if there's a distence between the destination you have to drag, drop multiple times

[2020-06-06 10:20] CapTen101 commented on #242
Oh right @mahmodHammad . I just confirmed it too with the simulator :+1:

[2020-06-06 10:22] mahmodHammad commented on #242
Ctrl, click make it possible to draw long wires easily

Dragging is easier for drawing short wires.

Take a look at the gif inside the PR you will notice the difference, or try it yourself 🙂

So we need 2 videos you make multiple nodes(angles) to let user distinguish the difference

[2020-06-06 10:23] CapTen101 commented on #242
Yes I just tried it in the simulator and noticed the difference immediately. Thanks for heads-up :smile:

[2020-06-06 13:40] Umoren commented on #242
Oh I misunderstood the issue
I wanted to create a new issue because, on the Getting Started page, the drag video was duplicated.
@CapTen101 you can continue with this.
I will create the issue.

[2020-06-06 13:42] CapTen101 commented on #242
ok, thanks @Umoren

[2020-06-06 14:02] Umoren opened #250 "Creating a Circuit Element video has duplicates on Getting started Page"
#### I am submitting a -
* [Bug Report]

#### Describe your bug/feature -
- The create circuit element video was duplicated on getting started page and the connecting wires video was omitted.
#### Current behaviour -
- In the Connecting wires section, we have Creating a Circuit element video.
#### Expected behavior -
- Creating a Circuit element section should have the appropriate video.
#### Scre

[2020-06-06 14:29] Umoren commented on #250
Deploy Preview:
https://deploy-preview-251--blissful-einstein-93d693.netlify.app/#/getting_started?id=creating-a-circuit-element

[2020-06-06 17:49] #250 closed

[2020-06-06 18:10] #247 closed

[2020-06-06 18:19] YashKumarVerma commented on #230
@nitin10s could you help us out in getting this done ?

[2020-06-06 20:23] #242 closed

[2020-06-07 03:16] ShubhankarKG commented on #230
#233 has been approved by him I guess. Requesting @tachyons @satu0king to have a look

[2020-06-07 21:36] CapTen101 commented on #198
Yup @felixfaisal. It's at the top only.

[2020-06-07 21:49] CapTen101 commented on #222
Hi @YashKumarVerma I want to work on this issue.
- I saw you comment in #206 PR mentioning that the heading will always remain a hyperlink for content level access.
- We can simply write `CircuitVerse` in place of `CircuitVerse Documentation` and point it to https://circuitverse.org/ since `home` already does that job for us by pointing to the Home page of documentation: https://docs.circuitverse.

[2020-06-11 07:35] Ansh0611 commented on #164
Hi?
Can this be assigned to me?

[2020-06-11 07:46] Shivansh2407 commented on #164
@Ansh0611 go ahead and fix the typo.

[2020-06-11 07:57] Ansh0611 commented on #164
Someone already fixed it

[2020-06-11 07:58] #164 closed

[2020-06-11 07:59] Shivansh2407 commented on #164
You can fix other issues @Ansh0611

[2020-06-12 07:36] nileshdas commented on #218
I am taking up this issue

[2020-06-15 08:41] CapTen101 commented on #218
Hey @nitin10s I want to work on this.

[2020-06-15 08:42] Shivansh2407 commented on #218
Sure @CapTen101 , Go ahead and make a PR.

[2020-06-15 08:43] CapTen101 commented on #218
Cool, thnx!

[2020-06-15 10:22] YashKumarVerma commented on #198
Closing as already done.

[2020-06-15 10:22] #198 closed

[2020-06-15 10:45] YashKumarVerma commented on #167
@nileshdas sure.

[2020-06-15 10:45] YashKumarVerma commented on #155
sure @vibhuti019

[2020-06-15 11:07] CapTen101 commented on #218
@Shivansh2407 @YashKumarVerma I ws pondering on it, can you throw some more light on this issue. Delay property as in the 'delay' parameter in the properties section?

[2020-06-15 12:13] nileshdas commented on #167
@YashKumarVerma the styling comes from unpkg.com CDNs which are not editable. Is there any other way around?

[2020-06-15 13:02] Ananthavijay commented on #168
@eKuG Please check this : https://circuitverse.org/simulator/edit/52999

[2020-06-15 14:52] nileshdas commented on #179
Hey @YashKumarVerma I think we should use this. It looks really good, has smoother animations and solves many issues and improves readability. @criticic Are you working on this issue? Here is a preview
![newTheme](https://user-images.githubusercontent.com/39062229/84672269-f9656f00-af45-11ea-9ac5-8eeee5234040.gif)

[2020-06-15 16:21] nileshdas opened #253 "No simulator example for Stepper"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
There's no simulator embedded in the documentation

#### Are you working on this issue? (Yes/No)
Yes

[2020-06-15 18:44] #253 closed

[2020-06-15 18:48] YashKumarVerma commented on #179
Doing something of this sort would require permission from many stakeholders. Post on gsod channel on slack.

[2020-06-15 20:31] YashKumarVerma commented on #167
can we use additional css styling for this @nileshdas ?

[2020-06-15 20:31] YashKumarVerma commented on #218
yes

[2020-06-16 07:30] nileshdas commented on #167
Can we use this?

![Screenshot (170)](https://user-images.githubusercontent.com/39062229/84744740-42163a00-afd1-11ea-9756-db972ab5ffe2.png)

[2020-06-16 07:50] YashKumarVerma commented on #167
color improvements look good. Send pr.

[2020-06-16 08:34] nileshdas commented on #166
@YashKumarVerma Should we implement something like this?
![darkMode](https://user-images.githubusercontent.com/39062229/84751582-5b6fb400-afda-11ea-801c-4f9a2add2d1a.gif)

[2020-06-16 08:50] Shivansh2407 commented on #166
I think we should match it with the CircuitVerse Theme. @YashKumarVerma views.

[2020-06-16 09:59] nileshdas opened #256 "Enhancement of Pull Request Template"
#### I am submitting a -
* [x] **Feature Request**

#### Describe your bug/feature -
Some additions to the PR Template like screenshots and Deploy Preview Link

#### Are you working on this issue? (Yes/No)
Yes

[2020-06-16 17:02] #256 closed

[2020-06-17 06:16] nileshdas commented on #155
@vibhuti019 Working on this issue?

[2020-06-17 06:26] vibhuti019 commented on #155
Yes I am working on it.

[2020-06-17 07:00] nileshdas opened #258 "Update the Issue Template"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Improve the issue templates by having different templates for bug reports and feature requests

#### Current behaviour -

#### Expected behaviour -

#### Screenshots (if relevant) -
![Screenshot (175)](https://user-images.githubusercontent.com/39062229/84865662-3c365c80-b096-11ea-9a8f-a6ece8123

[2020-06-17 12:21] #258 closed

[2020-06-17 14:44] CapTen101 commented on #218
I actually need some help here. It seems the delay property isn't working across any input element. @YashKumarVerma @Shivansh2407 @mahmodHammad

[2020-06-17 16:13] YashKumarVerma commented on #166
Agreed. We have everything in a simple design. @Shivansh2407  how about https://facebook.github.io/watchman/

[2020-06-17 16:15] #167 closed

[2020-06-17 16:21] YashKumarVerma commented on #218
@CapTen101 an issue has been opened in the simulator repo.

[2020-06-17 16:35] CapTen101 commented on #218
Oh, ok. Thanks for the issue reference

[2020-06-18 11:05] CapTen101 commented on #128
I would like to work on this @satu0king @YashKumarVerma since it's been pending for quite a while now.

[2020-06-19 07:05] nileshdas commented on #168
Here's an idea:
We can embed circuits for 2, 3 and 4 bits and also show the Karnaugh map method for higher bits.

[2020-06-19 07:31] nileshdas opened #260 "Documentation for RGB Led Matrix"
## Is your feature request related to a problem? Please describe.
RGB Led Matrix documentation is missing. Adding it would help users as it is a bit confusing.

## Are you working on this? (Yes/No)
Yes

[2020-06-19 08:41] YashKumarVerma commented on #128
@CapTen101 I think it's pending because one of the maintainers maybe missed the notification. I'll get to it.

[2020-06-19 08:45] CapTen101 commented on #128
Ok, sure @YashKumarVerma

[2020-06-19 09:41] YashKumarVerma commented on #168
@nileshdas please do

[2020-06-19 12:44] Shivansh2407 commented on #166
This looks good but we can implement it after making changes like replacing blue shadow with green to match CV theme. Let me know your views.

[2020-06-20 05:56] #168 closed

[2020-06-20 10:36] CapTen101 commented on #260
Its already been worked on in. This is duplicate issue. Reference  [issue #128](https://github.com/CircuitVerse/CircuitVerseDocs/issues/128) and a PR is already opened againts it. @nileshdas

[2020-06-20 10:41] CapTen101 opened #262 "Adding Documentation for embedding circuits for new contributors"
## Is your feature request related to a problem? Please describe.
Currently there's no documentation as to how circuits should be embedded in the documentation for new contributors. I too felt the need of it when I started.

## Describe the solution you'd like
writing a separate section describing steps for the same

## Are you working on this? (Yes/No)
 ### **Yes**

[2020-06-20 10:56] nileshdas commented on #260
Thanks for pointing out!

[2020-06-20 10:58] nileshdas commented on #262
This has been worked upon in PR #97 .

[2020-06-20 11:12] nileshdas commented on #140
This seems like a good solution. Should I make a PR about the same? @Shivansh2407 @YashKumarVerma @mahmodHammad

[2020-06-20 11:31] CapTen101 commented on #262
That PR hasn't been merged and that user is deleted. See carefully there, it's a 'ghost' user. Github marks those users as ghost who have their account decativated

[2020-06-20 16:50] nileshdas opened #265 "Documentation of 2's complement"
## Is your feature request related to a problem? Please describe.
Document the 2's complement element in the miscellaneous section

## Are you working on this? (Yes/No)
Yes

[2020-06-21 05:24] nileshdas commented on #162
I am taking up this issue. Requesting reviews on this: https://nervous-kare-085e95.netlify.app/#/
@YashKumarVerma @Shivansh2407

[2020-06-21 05:39] Shivansh2407 commented on #162
Dark mode button is really a tedious task to click while in mobile view as the edit in GitHub  is close to dark mode button and when we click it, it opens GitHub for editing. Please fix that. Also while we are in desktop view, on clicking the dark mode button, it disappears. You need to fix that as well. Rest all looks good to me.
Please make a PR after fixing the mentioned changes @nileshdas 👍

[2020-06-22 11:49] YashKumarVerma commented on #265
updates ?

[2020-06-22 12:04] CapTen101 commented on #260
You can close this issue @nileshdas

[2020-06-22 12:40] shraddhavp commented on #176
ok I would like to add it

[2020-06-22 15:47] nileshdas commented on #265
Done!

[2020-06-22 17:53] #265 closed

[2020-06-22 18:19] YashKumarVerma commented on #260
Closign in favour of https://github.com/CircuitVerse/CircuitVerseDocs/issues/128

[2020-06-22 18:20] #260 closed

[2020-06-25 08:22] #121 closed

[2020-06-26 15:55] #262 closed

[2020-06-26 17:17] CapTen101 opened #270 "guide.md is redundant and not required"
## Describe the bug
[guide.md](https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/guide.md) in the docs in just redundant and contains the initial opening line of [Readme.md](https://github.com/CircuitVerse/CircuitVerseDocs/blob/master/docs/README.md) and hence is not of any use

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'docs'
2. Click on 'guide.md'

## Solution
We

[2020-06-26 17:37] CapTen101 commented on #270
Reviews please @YashKumarVerma

[2020-06-26 18:05] gaurivn commented on #222
Is this issue available? If yes, I would like to work on it

[2020-06-26 18:06] gaurivn commented on #1
I would like to work on this issue.

[2020-06-27 01:10] CapTen101 commented on #222
@gaurivn Hi. Actually I'm still working on this

[2020-06-27 08:56] gaurivn commented on #222
Okay

[2020-06-27 17:24] YashKumarVerma commented on #222
@CapTen101  please send a pr as soon as you can. because this was practically stale for all this time

[2020-06-27 17:30] YashKumarVerma commented on #1
There is an open PR for this: https://github.com/CircuitVerse/CircuitVerseDocs/pull/61
can you review it and check for plagiarism and grammar?

[2020-06-27 18:30] gaurivn commented on #1
Sure, will do

[2020-06-27 18:44] gaurivn commented on #1
Done

[2020-06-28 06:14] CapTen101 commented on #222
Ok, sure @YashKumarVerma

[2020-06-28 09:59] #228 closed

[2020-06-29 12:15] #270 closed

[2020-06-30 06:49] #162 closed

[2020-07-02 04:27] #1 closed

[2020-07-04 21:00] animesh-007 commented on #223
I am closing this issue for now as I m convinced with your ways😀

[2020-07-04 21:00] #223 closed

[2020-07-07 14:01] KavyaJaiswal commented on #151
I would like to work on it!

[2020-07-30 12:20] palak199 commented on #222
is it open yet?

[2020-08-04 10:42] I-mikan-I opened #273 "Circuit preview doesn't load when flags are used"
## Describe the bug
When using flags in a circuit, and saving said circuit online, the interactive preview will be stuck in a loading loop.

## To Reproduce
Steps to reproduce the behavior:
1. Create a Circuit with flags.
2. Save the project online.
3. Open the project page.
4. The preview window doesn't load the circuit.

## Expected behavior
The preview should load (ideally with flags)

## Scree

[2020-08-04 18:39] #273 closed

[2020-08-05 15:54] nileshdas commented on #155
Taking up this issue

[2020-08-15 06:55] ruhci28 commented on #222
Hii, @YashKumarVerma can I take this issue.?

[2020-08-15 06:58] YashKumarVerma commented on #222
Yes, it's still open .

[2020-08-16 17:57] ruhci28 commented on #222
Hii @YashKumarVerma  I made these changes.
![Aug-16-2020 23-14-53](https://user-images.githubusercontent.com/59759735/90340588-e68b1b80-e016-11ea-9162-60bd396a89da.gif)

[2020-08-16 19:01] #222 closed

[2020-09-24 21:15] Roshan13046 commented on #153
I would like to work on this issue.
Can I go ahead?

[2020-09-24 21:16] Roshan13046 commented on #160
Anyone working on this issue?
I would like to work on it.

[2020-09-27 22:35] nTrfAce commented on #165
This issue can be closed.  It was fixed by https://github.com/CircuitVerse/CircuitVerseDocs/pull/189

"Blame" view here:
https://github.com/CircuitVerse/CircuitVerseDocs/blame/master/docs/decodersandplexers.md

[2020-10-02 13:09] ShubhankarKG commented on #186
Is this still relevant? Can be closed it seems @YashKumarVerma

[2020-10-02 13:46] #186 closed

[2020-11-17 09:59] richardpawson opened #277 "Allow circuit tabs to be re-ordered"
At present (unless I have missed something), the order in which circuit tabs are displayed within a project is determined only by the order in which they were created. This can be inconvenient - I often want to create a new sub-circuit that's related to an existing one and would like to have the tabs next to each other.

As in most IDEs, I'd like just to be able to drag a tab and drop it on top of

[2020-11-20 14:08] silambarasi365 commented on #77
Create a new folder
● Put the following files in the folder
○ Code.txt
○ Log.txt
○ Output.txt
● Stage the Code.txt and Output.txt files
● Commit them
● And finally push them to github

[2020-12-05 18:26] ineffable23 opened #279 "The numbering of ways to connect wires between elements of the circuit always shows 1."
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots/GIFs
If applicable, add screenshots or GIFs to help explain your problem.

## Device Information [option

[2020-12-07 08:00] Shivansh2407 commented on #279
Please Explain the issue in detail , supporting it with screenshots and Links

[2021-01-03 10:01] chehak123 commented on #144
Is this issue still open?

[2021-01-03 10:05] chehak123 commented on #153
I would like to work on this issue

[2021-01-03 10:06] chehak123 commented on #178
Is this issue still open? I would like to work on it

[2021-01-03 10:12] chehak123 commented on #219
I would like to work on it

[2021-01-03 10:14] chehak123 commented on #176
I would like to work on it

[2021-01-03 10:15] chehak123 commented on #157
Is this issue still open? I want to try this one

[2021-01-12 12:18] musk101 opened #283 "Timing Diagram does not turn green in clicking like all others"
## Describe the bug
When you click on timing diagram on the left navbar it does open bit it's color does not change to green like all other elements.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'HTML file'
2. Check timing diagram and fix the bug
3. See error

## Expected behavior
The timing diagram on being clicked should change to green color like all others.

## Screenshots/GIFs
!

[2021-01-15 14:41] Preeti2095 commented on #283
I want to work on this issue.

[2021-01-15 15:02] Shivansh2407 commented on #283
Hey @musk101 @Preeti2095 , CV Docs are undergoing a transformation as a Part of GSoD 2020 Program and we will be soon merging it to the master. Till then you can look for other issues in various other repositories of CircuitVerse. Happy Contributing 🎉

[2021-01-15 15:02] #283 closed

[2021-01-16 02:25] Preeti2095 commented on #283
All the best for GSoD😊😊💥💥

[2021-01-31 06:53] humble-barnacle001 opened #285 "Link to testbench is broken"
## Describe the bug
The link to testbench on the documentation page is broken

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'testbench documentation'
2. Click on 'https://circuitverse.org/testbench'
3.
4. See error

## Expected behavior
The link should go to testbench at https://circuitverse.org/testbench.html

## Additional context
I think this may be a minor bug, but I also suspect

[2021-01-31 06:55] humble-barnacle001 commented on #285
Check pr https://github.com/CircuitVerse/CircuitVerseDocs/pull/284

[2021-02-09 10:55] ayan-biswas0412 commented on #149
Can I work on this issue ? @sakshi1499

[2021-02-09 11:10] ayan-biswas0412 commented on #149
ohh my bad the test bench Link is broken itself

[2021-03-25 08:37] pranay-simejia commented on #150
@ShreyaPrasad1209 I could work on this issue.

[2021-03-25 08:45] pranay-simejia commented on #279
@Shivansh2407 numerical bullet point on [connecting](https://docs.circuitverse.org/#/getting_started?id=connecting-wires) should be 2.

[2021-03-25 08:48] Shivansh2407 commented on #279
Fixed in #282

[2021-03-25 08:48] #279 closed

[2021-03-25 08:49] pranay-simejia commented on #178
working on this issue.

[2021-03-25 08:59] pranay-simejia opened #290 "Menu icon not translucent and search bar position not fixed."
## Describe the bug
Menu icon's div is translucent.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://docs.circuitverse.org/#/outputs'
2. See error

## Expected behavior
Search bar should be fixed adjacent to the menu icon for better UX.

##Relevant screenshots.
![image](https://user-images.githubusercontent.com/70064696/112446094-d9d16180-8d75-11eb-9cf4-0efa32d07f08.png)

## Are

[2021-03-25 09:40] Shivansh2407 commented on #290
@pranay-simejia we need to merge GSOD work before merging anymore PRs. Please have a look at #282 , set it up in your PC and let us know if it has some issues. We'll be merging it soon. Thank you 👍

[2021-04-05 07:53] pranay-simejia opened #292 "Contention Error in D flipflop embeded circuit."
## Describe the bug
Contention Error in D flipflop.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '[d flip flop section](https://docs.circuitverse.org/#/Sequential?id=d-flip-flop)'
2.Toggle D input
4. See an error

## Expected behavior
The output should follow input on every clock pulse. It can be fixed by embedding a new circuit with the same function. New circuit because I can't edi

[2021-04-05 20:27] anmolkohli13 opened #293 "TestBench links not working"
## Describe the bug
The links in the testbench section are not working and when you click on the link for the guide for using the testbench it takes you to https://www.godaddy.com/forsale/circuitverse.com and asks to buy the domain. Also when visiting https://circuitverse.org/testbench there is an error and the page is not displayed.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https

[2021-04-06 16:50] Shivansh2407 commented on #293
Please have a look at #282 , Set it up in your local machine and let us know if you face any issues! It is the updated version of the CircuitVerse Docs which will be merged soon. Thank you for your efforts 👍

[2021-04-06 16:50] #293 closed

[2021-04-10 07:17] StarTrooper08 commented on #144
The issue #144 is sorted I guess.
If you want to contribute you can try out other issue present for circuit verse @chehak123 .

[2021-04-19 12:20] #292 closed

[2021-05-08 13:44] sal2701 opened #295 "Update docs with updated images of the new UI"
### Describe the bug
In pages like [this](https://docs.circuitverse.org/#/groups) we have screenshots of the old UI.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [link](https://docs.circuitverse.org/#/groups)
2. Scroll to see screenshots of older UI

### Expected behavior
Replace old screenshots / images with images for the new UI

### Are you working on this issue? (Yes/No)
No

[2021-05-08 13:53] Shivansh2407 commented on #295
Hey @sal2701, Thanks for pointing it out. This is updated in #282 by Pragati During GSoD 2020, and we'll be merging it soon after updating some things in the PR. Please checkout this PR and let me Know if you find out some issues in this, and raise issues here so that they can be fixed as well.
Keep Contributing 🎉

[2021-05-08 13:53] #295 closed

[2021-06-18 03:14] MadhuNimmo opened #296 "Side Bar Item "Circuit Elements" and "Timing Diagram" Format Mismatch"
**Describe the bug**
Side Bar Items Format Mismatch

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.circuitverse.org/#/
2. Scroll down to Circuit Elements
4. You will see Circuit Elements in bold and the sub-menu visible.

**Expected behavior**
Circuits Elements format should comply with others.

**Screenshots**
<img width="1436" alt="Screenshot 2021-06-17 at 10 05 55 AM"

[2021-06-21 12:24] ShreyaPrasad1209 opened #298 "Wrong label on dark mode toggler"
## Describe the bug
The dark mode toggle has "Edit on GitHub" written on it instead of "Dark Mode". This can confuse many users as they might assume it to be a link to GitHub.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://docs.circuitverse.org/#/'
2. Click on 'Edit on GitHub' on top right
3. You will see it is a dark mode toggler

## Expected behavior

Change name of "Edit on

[2021-06-21 12:31] ShreyaPrasad1209 commented on #290
@pranay-simejia I tried to reproduce but could not see this issue 😕

[2021-06-21 12:33] ShreyaPrasad1209 commented on #176
I'm closing this issue as it's been resolved.

[2021-06-21 12:33] #176 closed

[2021-06-21 12:35] #170 closed

[2021-06-21 12:35] #155 closed

[2021-06-21 12:50] ShreyaPrasad1209 opened #299 "Left alignment of embedded circuit's link"
## Describe the bug
Go to the live circuits in the docs and you will a small "Made with CircuitVerse" link which redirects to that embedded circuit along with user information, stars, forks etc. This link is overlapping with zoom button, making it hard to see. It will be great if the link is aligned to left so that both of them are easily visible.

## To Reproduce
Steps to reproduce the behavior:

[2021-06-21 20:07] daviddaubner42 commented on #298
Hi @ShreyaPrasad1209, can I work on this?

[2021-06-25 12:01] #143 closed

[2021-06-30 14:58] pranay-simejia commented on #290
@ShreyaPrasad1209 did you scroll down the sidebar?

[2021-07-01 20:41] StarTrooper08 commented on #299
I m new to the CircuitVerse codebase and I m unable to find the file where we have to do the required changes. Please help me out. I would like to work on this issue.

[2021-07-01 20:48] StarTrooper08 commented on #299
https://github.com/CircuitVerse/CircuitVerse/blob/master/simulator/src/css/embed.css

I guess I got the file 🤔 .
Please correct me if I m wrong

[2021-07-01 20:58] StarTrooper08 commented on #298
I guess 'Edit on GitHub' is a link for contributing to that webpage on GitHub. Do we have to mention somewhere around the toggle about the dark and light mode?

[2021-07-02 07:52] deepxcode commented on #298
@ShreyaPrasad1209  Can you assign this to me?

[2021-07-04 04:27] Ayush7614 opened #300 "Added circuitverse poster or image in readme"
![image](https://user-images.githubusercontent.com/67006255/124373232-21895280-dcae-11eb-9fec-4e6531cdd8be.png)

[2021-07-04 04:28] Ayush7614 commented on #300
Before circuit documentation we have fix the poster of circuitverse so it looks more good

[2021-07-15 16:28] vvijayalakshmi21 commented on #298
Hi,
I am interested to take this up.
Just to clarify - the edit link does take us to github page. Should this be retained along with introducing a new label for Dark Mode or can I just remove the edit link and just include the dark mode label in there?

[2021-07-15 17:42] Jayita10 commented on #299
I am working on this issue

[2021-07-15 18:30] shreyachalla commented on #298
Hi, I am part of Grace Hopper OSD. Can I please be assigned this ?

[2021-07-15 20:13] labbasaiteja commented on #298
Is this issue available I am interested to take up?

[2021-07-18 13:49] dineshkumar12004 commented on #298
hey can i work on this for OSD, I couldn't make it that time ?

[2021-09-05 06:21] Kartikay304 commented on #298
i would like to work on this issue

[2021-09-07 10:21] ShreyaPrasad1209 commented on #298
@Kartikay304 sure

[2021-09-07 14:09] Kartikay304 commented on #298
Thanks, I guess the edit link does take us to github page. Should this be retained along with introducing a new label for Dark Mode or can I just remove the edit link and just include the dark mode label in there?

[2021-09-07 19:02] Kartikay304 commented on #219
I would like to work on this issue.

[2021-10-01 16:22] quinnbennett commented on #299
I am working on this issue

[2021-10-01 16:42] Shivansh2407 commented on #299
Sure @quinnbennett ! Go ahead.

[2021-10-10 02:35] khairnarsaurabh23 commented on #290
@pranay-simejia  is issue is solved?
or else i can work on this issue?

[2021-10-20 05:07] Palaksharma23 opened #311 "Search bar should stick at the top while scrolling in the documentation page"
**Describe the bug**
in the sidebar of documentation page "type here to search option is not fixed"
it should be fixed which will help user to search anything easily at any time

Initially it is like this

![one](https://user-images.githubusercontent.com/87171452/138031395-0ae9d6f8-5594-491f-b92f-20a54c717dc5.png)

After scrolling it hides
![two](https://user-images.githubusercontent.com/87171452/

[2021-10-23 13:37] Palaksharma23 opened #312 "404 Error in Circuit Elements page"
## Describe the bug
Whenever a user clicks on circuit elements from sidebar marked black in image below , 404 error occur
and other marked in red should be visible only when user clicks on circuit elements link

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'circuitverse.org'
2. Click on 'getting started'
3. Scroll down to 'documentation'
4. Click on 'Circuit Elements' in sidebar
5. Se

[2021-10-23 15:26] vedant-jain03 opened #314 "feat: Scroll-to-top Button"
## Is your feature request related to a problem? Please describe.

Like we have button for Scroll-to-top in interactive book.

## Describe the solution you'd like

- Using JS.

## Are you working on this? (Yes/No)
Yes

[2021-10-26 10:38] tachyons opened #316 "Complete circuitverse docs revamp"

[2021-11-06 16:49] vedant-jain03 opened #317 "Fixes: Change theme for Docs like interactive Book"
## Describe the bug
The color theme in the Docs is not primary of Circuitverse.

## Expected behavior
The Color theme should match with primary like interactive book.

## Device Information [optional]:
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

## Are you working on this issue? (Yes/No)
Yes

[2021-11-06 17:00] #317 closed

[2021-11-09 12:39] Palaksharma23 commented on #316
Can i also help in this issue ?

[2021-11-09 13:15] #300 closed

[2021-11-23 12:59] Palaksharma23 commented on #290
i want to work on this issue , can i take this up

[2021-12-08 17:39] tachyons commented on #316
Sure, @Shivansh2407 Can you list the pending tasks here ?

[2021-12-08 17:41] #290 closed

[2021-12-08 17:41] #311 closed

[2021-12-13 15:50] Prerna-0202 commented on #149
I would like to work on this issue...

[2021-12-22 05:43] vedant-jain03 commented on #316
@tachyons I also want to contribute

[2021-12-27 17:22] eshaanagarwal commented on #218
Hi ! is this issue open ?

[2022-01-28 09:22] PaarthAgarwal commented on #298
hey @ShreyaPrasad1209, can you please assign this issue to me?

[2022-01-30 07:06] ayan-biswas0412 opened #323 "Images not visible correctly in the LMS integration page"
## Describe the bug
Images not visible correctly in the LMS integration page, maybe the path to files are not proper

## To Reproduce
Steps to reproduce the behavior:
1. Go to [CircuitVerse Docs website](https://docs.circuitverse.org/#/chapter2/3lmsintegration)
2. Scroll down
3. See error

## Expected behavior
It should load the images properly

## Screenshots/GIFs
<img width="1071" alt="image" sr

[2022-01-30 07:09] #323 closed

[2022-02-01 17:16] #316 closed

[2022-02-10 09:12] Ayush7614 opened #324 "Add GitHub Bots to Circuitverse Repositories"
We need to have project-specific bots later (Especially for Python, Typescript and JS-based projects) to track code quality, builds and all. Please have a look and let me know what you think. You can also add more bot integrations that we can have right here.

This issue would be used to track the integration of GitHub Bots across Circuitverse repositories.

1 . Prosebot [Integration](https://gith

[2022-04-23 11:22] vedant-jain03 commented on #324
@CircuitVerse/circuitverse-core-team WDYT of this?

[2022-04-23 15:35] meiskam opened #327 "Example circuit for NAND gate incorrect"
## Describe the bug
Example circuit for NAND gate incorrect

## To Reproduce
[chapter4_nand-gate](https://docs.circuitverse.org/#/chapter4/4gates?id=nand-gate)

## Screenshots/GIFs
![](https://user-images.githubusercontent.com/634802/164912846-70537598-9e03-455a-a9cb-ca4a75c30ea3.png)

## Are you working on this issue? (Yes/No)
Yes

[2022-04-25 10:54] vedant-jain03 opened #329 "Color Schema for Dark Mode"
## Is your feature request related to a problem? Please describe.
we can change the color schema of Scroll Bar in Docs in Dark Mode.

## Are you working on this? (Yes/No)
Yes

[2022-04-27 10:58] #329 closed

[2022-06-11 06:23] Prerna-0202 opened #331 "Priority Encoder Circuit is incorrect"
## Describe the bug
The Priority Encoder Circuit is not working fine. It throws Contention Error on changing inputs.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'Decoders and Plexers'
2. Scroll down to 'Priority Encoder'
3. Check the circuit by changing the input values.
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshot

[2022-06-19 18:21] Prerna-0202 opened #332 "Add a circuit for demoing clock functionality"
## Describe the solution you'd like
Currently, there is no circuit for demoing clock functionality like other circuits. So, Add a circuit for the same.

## Additional context
Add any other context or screenshots about the feature request here.
![new](https://user-images.githubusercontent.com/89515816/174495078-02a25c7f-4e0f-4caf-be4d-dd8bb8121121.png)

[2022-06-21 07:47] tachyons commented on #327
Thanks

[2022-07-15 16:16] vedant-jain03 opened #333 "Documentation for Multiple Mentors Feature."
## Description
PR: https://github.com/CircuitVerse/CircuitVerse/pull/2096

## Are you working on this? (Yes/No)
Yes

[2022-07-18 05:09] vedant-jain03 opened #335 "Documentation for Improved Embed Feature"
## Description
PR: https://github.com/CircuitVerse/CircuitVerse/pull/2768